<div ng-controller="purchaseTrackController" class="app">
    <div class="mainView">
        <div class="queryDIv">
            <div class="queryTitle bg-black">条件查询</div>
            <div class="queryBody">
                    <input type="date" placeholder="开始日期" class="startDate"/>至<input type="date" placeholder="结束日期" class="endDate"/>
                <div class="searchGroup">
                    <!--<input type="text" placeholder="申请人" class="placeholderOrderNum"/>-->
                    <!--<a href="javascript:;" class="btn btn-primary btn-sm searchR" ng-click="searchTrack()"><i class="fa fa-search"></i>搜索</a>-->
                </div>
            </div>
        </div>
        <div class="purchaseTrackBody">
<!--            <div class="purchaseLine">
                <span class="purchaseLineOrder">订单编号：CGSQ201710101213</span>
                <span class="btn btn-default btn-xs canclePurchase">撤销</span>
                <ul class="purchaseLineUl clearfix">
                    <li class="purchaseReqSuccess">
                        我
                        <span class="nextFlowSpan purchaseReqSuccess"></span>
                        <span class="purchaseResult">提交申请</span>
                        <span class="purchaseDatetime">2017-10-11 15:12:30</span>
                    </li>
                    <li class="">
                        室组经理
                        <span class="preFlowSpan "></span>
                        <span class="nextFlowSpan "></span>
                    </li>
                    <li>
                        部长
                        <span class="preFlowSpan"></span>
                        <span class="nextFlowSpan"></span>
                    </li>
                    <li>
                        总经理
                        <span class="preFlowSpan"></span>
                        <span class="nextFlowSpan"></span>
                    </li>
                    <li>
                        采购
                        <span class="preFlowSpan"></span>
                        <span class="nextFlowSpan"></span>
                    </li>
                    <li>
                        库管
                        <span class="preFlowSpan"></span>
                    </li>
                </ul>
            </div>-->
            <div class="loadingDiv">
                <div class="loading">
                    <img src="./imgs/loading.gif" alt=""/>
                    <span>玩命加载中~</span>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'tpl/blocks/aside.html'" class="aside"></div>
    <div ng-include="'tpl/blocks/header.html'" class="header"></div>
    <div ng-include="'tpl/blocks/footer.html'"></div>
    <!--撤销订单提示模态框-->
    <div class="modal fade" id="canclePurchaseModal" tabindex="-1" role="dialog" aria-labelledby="canclePurchaseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="hidden" id="purchase_applicant_id"/>
                    <h5 class="modal-title" id="canclePurchaseModalLabel">撤销采购申请</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>订单正在审批，确定撤销此订单？</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="canclePurchaseOk()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>