<div ng-controller="purchaseCheckController" class="app ng-scope">
    <div class="mainView">
        <div class="queryDIv">
            <div class="queryTitle bg-black">条件查询</div>
            <div class="queryBody">
                <!--<input type="date" placeholder="开始日期" class="startDate"/>至<input type="date" placeholder="结束日期" class="endDate"/>-->
                <select class="selectCss">
                    <option value="-1" aria-checked="true">全部</option>
                    <option value="0">未审核</option>
                    <option value="1">已审核</option>
                </select>
                <div class="searchGroup">
                    <input type="text" placeholder="申请人" class="placeholderOrderNum"/>
                    <a href="javascript:;" class="btn btn-primary btn-sm search" ng-click="conditionQuery()"><i class="fa fa-search"></i>搜索</a>
                </div>
            </div>
        </div>
        <div class="purchaseCheckBody">
            <table class="display table-striped table-bordered table-hover" id="purchaseCheckTable" cellspacing="0" width="100%">
                <thead>
                    <tr >
                        <td>编号</td>
                        <td>申请人</td>
                        <td>申请时间</td>
                        <td>状态</td>
                        <td>操作</td>
                    </tr>
                </thead>

                <!--<tr  ng-repeat="material in purchaseList">
                    <td>{{material.purchase_applicant_id}}</td>
                    <td>{{material.applicant}}</td>
                    <td>{{material.created_on}}</td>
                    <td ng-if="roles.role_id<4 || roles.role_id==6">{{material.status == 0?"待审核":material.status == 1?"审核通过":"拒绝申请"}}</td>
                    <td ng-if="roles.role_id==4 ||roles.role_id==5">{{material.status == 0?"待审批":material.status == 2?"待下单":material.status == 3?"已下单":material.status == 4?"待领料":material.status == 5?"已领料":"已完成"}}</td>
                    <td>
                        <a href="javascript:;" ng-if="roles.role_id<4 || roles.role_id==6" class="btn btn-default btn-sm" ng-click="viewOrCheck(material.purchase_applicant_id,material.status)">查看/审核</a>
                        <a href="javascript:;" class="btn btn-default btn-sm" ng-if="roles.role_id==5 && material.status == 2" ng-click="purchaseOrder(material.purchase_applicant_id)">采购下单</a>
                        <a href="javascript:;" class="btn btn-default btn-sm" ng-if="roles.role_id==5 && material.status > 2" ng-click="purchaseOrder(material.purchase_applicant_id,material.status)">查看</a>
                    </td>
                </tr>-->
            </table>
        </div>
    </div>
    <div ng-include="'tpl/blocks/aside.html'" class="aside"></div>
    <div ng-include="'tpl/blocks/header.html'" class="header"></div>
    <div ng-include="'tpl/blocks/footer.html'"></div>

    <!--采购审核modal-->
    <div class="modal fade" id="purchaseCheckModal" tabindex="-1" role="dialog" aria-labelledby="purchaseCheckModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="purchaseCheckModalLabel">采购审核</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="billNum"/>
                    <div class="tableDiv">
                        <table class="table-bordered table-condensed" cellspacing="0" width="100%">
                            <tr >
                                <td>名称</td>
                                <td>型号</td>
                                <td>项目号</td>
                                <td>单位</td>
                                <td>数量</td>
                                <td>期望交付日期</td>
                                <td>备注</td>
                            </tr>
                            <tr ng-repeat="materia in materialList">
                                <td>{{materia.material_name}}</td>
                                <td>{{materia.model}}</td>
                                <td>{{materia.project_num}}</td>
                                <td>{{materia.unit}}</td>
                                <td>{{materia.number}}</td>
                                <td>{{materia.expected_date}}</td>
                                <td>{{materia.remark}}</td>
                            </tr>
                        </table>
                    </div>

                    <div class="checkBody">
                        <div class="radioDiv">
                            <input type="radio" name="check" id="passCheck" checked checkValue="1"/>
                            审核通过
                            <input type="radio" name="check" id="failureCheck" checkValue="-1"/>
                            拒绝申请
                        </div>
                        <div class="reasonDiv">
                            <textarea id="reasonText" placeholder="拒绝理由不能为空哦~"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="checkOk()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!--采购下单modal-->
    <div class="modal fade" id="purchaseModal" tabindex="-1" role="dialog" aria-labelledby="purchaseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="purchaseModalLabel">采购下单</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="purchaseBillNum"/>
                    <div class="tableDiv">
                        <div class="tableInfoDiv">
                            <ul class="tableInfoUl">
                                <li>下单日期：<span class="orderDatetime">{{orderInfo.created_on.split(' ')[0]}}</span></li>
                                <li>合同号：
                                    <input ng-if="orderInfo == undefined" type="text" class="contract_num"/>
                                    <span>{{orderInfo.contract_num}}</span>
                                </li>
                                <li>采购申请单号：<span class="purchaseOrderNum"></span></li>
                                <li>订单编号：<span class="orderNum">{{orderInfo.purchase_order_id}}</span></li>
                            </ul>
                        </div>
                        <table class="table-bordered table-condensed" cellspacing="0" width="100%">
                            <tr class="tableHeadTr">
                                <td><s class="fa fa-asterisk redText"></s>物料编码</td>
                                <td>名称</td>
                                <td>型号</td>
                                <td>sn号</td>
                                <td>供应商编号</td>
                                <td>供应商名称</td>
                                <td>项目号</td>
                                <td>单位</td>
                                <td>单价</td>
                                <td>数量</td>
                                <td>品牌</td>
                                <td>厂家</td>
                                <td>金额</td>
                                <td>税率</td>
                                <td>发票</td>
                                <td>备注</td>
                                <td>批次</td>
                            </tr>
                            <tr ng-repeat="material in materialList">
                                <td>
                                    <input ng-if="material.material_code == undefined" type="text" valType msg="物料编码不能为空" class="material_code"/>
                                    <span ng-if="material.material_code != undefined">{{material.material_code}}</span>
                                </td>
                                <td title="{{material.material_name}}" class="material_name">{{material.material_name}}</td>
                                <td title="{{material.model}}" class="model">{{material.model}}</td>
                                <td title="{{material.sn_num}}" class="sn_num">{{material.sn_num}}</td>
                                <td>
                                    <input ng-if="material.material_code == undefined" type="text" class="supplier_num"/>
                                    <span ng-if="material.material_code != undefined">{{material.supplier_num}}</span>
                                </td>
                                <td>
                                    <input ng-if="material.material_code == undefined" type="text" class="supplier"/>
                                    <span ng-if="material.material_code != undefined">{{material.supplier}}</span>
                                </td>
                                <td title="{{material.project_num}}" class="project_num">{{material.project_num}}</td>
                                <td title="{{material.unit}}" class="unit">{{material.unit}}</td>
                                <td>
                                    <input ng-if="material.material_code == undefined" type="text" class="unit_price"/>
                                    <span ng-if="material.material_code != undefined">{{material.unit_price}}</span>
                                </td>
                                <td title="{{material.number}}" class="number">{{material.number}}</td>
                                <td>
                                    <input ng-if="material.material_code == undefined" type="text" class="brand"/>
                                    <span ng-if="material.material_code != undefined">{{material.brand}}</span>
                                </td>
                                <td>
                                    <input ng-if="material.material_code == undefined" type="text" class="manufactor"/>
                                    <span ng-if="material.material_code != undefined">{{material.manufactor}}</span>
                                </td>
                                <td>
                                    <input ng-if="material.material_code == undefined" type="text" class="total_price"/>
                                    <span ng-if="material.material_code != undefined">{{material.total_price}}</span>
                                </td>
                                <td>
                                    <input ng-if="material.material_code == undefined" type="text" class="rate"/>
                                    <span ng-if="material.material_code != undefined">{{material.rate}}</span>
                                </td>
                                <td>
                                    <input ng-if="material.material_code == undefined" type="text" class="invoice"/>
                                    <span ng-if="material.material_code != undefined">{{material.invoice}}</span>
                                </td>
                                <td title="{{material.remark}}" class="remark">{{material.remark}}</td>
                                <td>
                                    <input ng-if="material.material_code == undefined" type="text" class="batch"/>
                                    <span ng-if="material.material_code != undefined">{{material.batch}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer" id="purchaseModalFooter">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="purchaseOk()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>