<div ng-controller="purchaseRequestController" class="app">
    <div class="mainView" >
        <div class="mainViewBody">
            <div class="purchaseReqOrder">
                <div class="title">
                    采购申请单
                    <span>采购申请单号：CGSQ201709271529</span>
                </div>
                <div class="materialDiv">
                    <ul>
                        <li><s class="fa fa-asterisk redText"></s>名称</li>
                        <li><s class="fa fa-asterisk redText"></s>型号</li>
                        <li>sn号</li>
                        <li>项目号</li>
                        <li>单位</li>
                        <li><s class="fa fa-asterisk redText"></s>数量</li>
                        <li>期望交付日期</li>
                        <li>备注</li>
                    </ul>
                    <div class="materialListDiv clearfix">
                        <span class="deleteMaterial" ng-click="deleteMaterialLine($event)">×</span>
                        <div><input type="text"/></div>
                        <div><input type="text"/></div>
                        <div><input type="text"/></div>
                        <div><input type="text"/></div>
                        <div><input type="text"/></div>
                        <div><input type="text"/></div>
                        <div class="input-group">
                            <input datepicker-popup type="text" class="input-xs" ng-model="dt"  ng-model-options="{updateOn:'blur'}" is-open="opened" min-date="minDate" weekStart="0" close-text="关闭" clear-text="清空" current-text="今天" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" readonly/>
                            <span class="input-group-btn">
                                <button class="btn btn-xs" ng-click="open($event)">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                        <div><input type="text"/></div>
                    </div>
                    <div class="addMaterialListDiv clearfix" ng-click="addMaterialLine($event)">
                        <span class="fa fa-plus"></span>
                    </div>
                </div>
            </div>
            <div class="checkPeopleDiv">
                <div class="title">审批人</div>
                <div class="checkPeopleMain">
                    <div class="addCheckPeopleDiv">
                        <div class="addCircleDiv" data-toggle="modal" data-target="#choseCheckPeopleModal" ng-click="checkGroupLeader()">
                            <span class="fa fa-plus"></span>
                        </div>
                        <div class="checkPeoplePosition">
                            <s class="fa fa-asterisk redText"></s>室组经理
                        </div>
                        <span class="editCheckPeople fa fa-edit"></span>
                    </div>
                    <div class="checkArrowDiv">
                        <span class="fa fa-arrow-right"></span>
                    </div>
                    <div class="addCheckPeopleDiv">
                        <div class="addCircleDiv" data-toggle="modal" data-target="#choseCheckPeopleModal" ng-click="checkMinister()">
                            <span class="fa fa-plus"></span>
                        </div>
                        <div class="checkPeoplePosition">
                            <s class="fa fa-asterisk redText"></s>部长
                        </div>
                        <span class="editCheckPeople fa fa-edit"></span>
                    </div>
                    <div class="checkArrowDiv">
                        <span class="fa fa-arrow-right"></span>
                    </div>
                    <div class="addCheckPeopleDiv">
                        <div class="addCircleDiv" data-toggle="modal" data-target="#choseCheckPeopleModal" ng-click="checkManager()">
                            <span>张德兆</span>
                        </div>
                        <div class="checkPeoplePosition">
                            <s class="fa fa-asterisk redText"></s>总经理
                        </div>
                        <span class="editCheckPeople fa fa-edit show"></span>
                    </div>
                </div>
            </div>
            <div class="submitDiv">
                <span>“<s class="fa fa-asterisk redText"></s>”号项为必填项。</span>
                <button class="btn btn-primary">提交</button>
            </div>
        </div>

    </div>

    <div ng-include="'tpl/blocks/aside.html'" class="aside"></div>
    <div ng-include="'tpl/blocks/header.html'" class="header"></div>
    <div ng-include="'tpl/blocks/footer.html'"></div>

    <!-- Modal -->
    <div class="modal fade" id="choseCheckPeopleModal" tabindex="-1" role="dialog" aria-labelledby="choseCheckPeopleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="choseCheckPeopleModalLabel">{{choseCheckPeopleTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>【张三】 软件室</p>
                    <p>【李四】 系统室</p>
                    <p>【王五】 硬件室</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>


