<div ng-controller="purchaseHistoryController" class="app">
    <div class="mainView">
        <div class="queryDIv">
            <div class="queryTitle bg-black">条件查询</div>
            <div class="queryBody">
                <input type="date" placeholder="开始日期" class="startDate"/>至<input type="date" placeholder="结束日期" class="endDate"/>
                <div class="searchGroup">
                    <input type="text" ng-if="roles.role_id!=7" placeholder="订单编号/申请人" class="placeholderOrderNum"/>
                    <input type="text" ng-if="roles.role_id==7" placeholder="订单编号" class="placeholderOrderNum"/>
                    <a href="javascript:;" class="btn btn-primary btn-sm search"><i class="fa fa-search"></i>搜索</a>
                </div>
            </div>
        </div>
        <div class="purchaseHistoryBody">
            <table id="purchaseHistoryTable" class="display table-striped table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th></th>
                    <th>采购申请编号</th>
                    <th>采购订单编号</th>
                    <th>申请人</th>
                </tr>
                </thead>
            </table>
            <div id="purchaseHistoryPager"></div>
        </div>
    </div>
    <div ng-include="'tpl/blocks/aside.html'" class="aside"></div>
    <div ng-include="'tpl/blocks/header.html'" class="header"></div>
    <div ng-include="'tpl/blocks/footer.html'"></div>
</div>