<div ng-controller="purchaseRequestController" class="app">
    <div class="mainView" >
        <div class="mainViewBody">
            <div id="purchaseReqForm">
                <div class="purchaseReqOrder">
                    <div class="title">
                        采购申请单
                        <span>采购申请单号：<i class="orderNum">CGSQ201709271529</i></span>
                    </div>
                    <div class="materialDiv">
                        <ul>
                            <li><!--<s class="fa fa-asterisk redText"></s>-->物料编码</li>
                            <li><!--<s class="fa fa-asterisk redText"></s>-->名称</li>
                            <li><!--<s class="fa fa-asterisk redText"></s>-->型号</li>
                            <!--<li>sn号</li>-->
                            <li><s class="fa fa-asterisk redText"></s>项目号</li>
                            <li><!--<s class="fa fa-asterisk redText"></s>-->单位</li>
                            <li><s class="fa fa-asterisk redText"></s>数量</li>
                            <li>品牌</li>
                            <li>期望交付日期</li>
                            <li>备注</li>
                        </ul>
<!--                        <div class="materialListDiv clearfix">
                            <span class="deleteMaterial" ng-click="deleteMaterialLine($event)">×</span>
                            <div>
                                <input type="text" class="material_name" name="materialName" valType msg="请输入名称"/>
                            </div>
                            <div><input type="text" class="model" name="model" valType msg="型号不能为空"/></div>
                            &lt;!&ndash;<div><input type="text" class="sn_num" name="sn_num"/></div>&ndash;&gt;
                            <div class="projectNumDiv"></div>
                            <div><input type="text" class="unit" name="unit" valType msg="单位不能为空"/></div>
                            <div><input type="number" class="number" name="number" valType msg="数量不能为空"/></div>
                            <div><input type="text" class="brand" name="brand"/></div>
                            <div><input type="date" class="expected_date" name="expected_date"/></div>
                            <div><input type="text" class="remark" name="name"/></div>
                        </div>-->
                        <div class="addMaterialListDiv clearfix" ng-click="addMaterialLine()">
                            <span class="fa fa-plus"></span>
                        </div>
                    </div>
                </div>
                <div class="checkPeopleDiv">
                    <div class="title">审批人</div>
                    <div class="checkPeopleMain">
                        <div class="addCheckPeopleDiv">
                            <div class="addCircleDiv" ng-click="checkGroupLeader($event)">
                                <span class="fa fa-plus"></span>
                                <span class="groupLeaderName hideName"></span>
                            </div>
                            <input type="hidden" class="groupLeaderNameInp"/>
                            <div class="checkPeoplePosition">
                                <s class="fa fa-asterisk redText"></s>室组经理
                            </div>
                            <span class="editCheckPeople fa fa-edit"></span>
                        </div>
                        <div class="checkArrowDiv">
                            <span class="fa fa-arrow-right"></span>
                        </div>
                        <div class="addCheckPeopleDiv">
                            <div class="addCircleDiv" ng-click="checkMinister($event)">
                                <span class="fa fa-plus"></span>
                                <span class="departmentName hideName"></span>
                            </div>
                            <input type="hidden" class="departmentNameInp"/>
                            <div class="checkPeoplePosition">
                                <s class="fa fa-asterisk redText"></s>部长
                            </div>
                            <span class="editCheckPeople fa fa-edit"></span>
                        </div>
                        <div class="checkArrowDiv">
                            <span class="fa fa-arrow-right"></span>
                        </div>
                        <div class="addCheckPeopleDiv">
                            <div class="addCircleDiv" ng-click="checkManager($event)">
                                <span class="managerName">张德兆</span>
                            </div>
                            <input type="hidden" class="managerNameInp" value="张德兆"/>
                            <div class="checkPeoplePosition">
                                <s class="fa fa-asterisk redText"></s>总经理
                            </div>
                            <span class="editCheckPeople fa fa-edit show"></span>
                        </div>
                    </div>
                </div>
                <div class="submitDiv">
                    <span>“<s class="fa fa-asterisk redText"></s>”号项为必填项。</span>
                    <button class="btn btn-primary" ng-click="submitPurchaseReq()">提交</button>
                </div>
            </div>

        </div>
    </div>

    <div ng-include="'tpl/blocks/aside.html'" class="aside"></div>
    <div ng-include="'tpl/blocks/header.html'" class="header"></div>
    <div ng-include="'tpl/blocks/footer.html'"></div>

    <!-- Modal -->
    <div class="modal fade" id="choseCheckPeopleModal" tabindex="-1" role="dialog" aria-labelledby="choseCheckPeopleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="choseCheckPeopleModalLabel">{{choseCheckPeopleTitle}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="selectCheckUl">
                        <!--<li class="selectLi" ng-click="selectPurchaseName($event)">-->
                            <!--【<span class="selectName">张三</span>】 总经理-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--添加物料模态框-->
    <div class="modal fade" id="chsseAddMaterialModal" tabindex="-1" role="dialog" aria-labelledby="chsseAddMaterialModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="chsseAddMaterialModalLabel">选择物料</h5>
                    <div class="searchGroup">
                        <input type="text" placeholder="物料名称" id="queryInput"/>
                        <a href="javascript:;" class="btn btn-primary btn-sm search" ng-click="searchMaterial()"><i class="fa fa-search"></i></a>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modalLoading">
                            <img src="./imgs/loading.gif" alt="" width="40"/>
                    </div>
                    <ul class="selectCheckUl">
                        <li class="selectLi" ng-click="selectMaterial($event)">
                        【<span class="selectName">DN001</span>】 电脑--thinkPad--智行者制造
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


