<div ng-controller="infoMaintainController">
    <div ng-include="'tpl/blocks/header.html'" class="header"></div>
    <div ng-include="'tpl/blocks/aside.html'"  class="aside"  ></div>
    <div class="mainView">
        <div class="infoMaintain">
            <h1>基本信息</h1>
            <ul >
                <li>姓名：&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{user.name}}</li>
                <li>联系电话：</li>
                <li>密码：</li>
                <li>部门：</li>
            </ul>
            <ul id="gitUl" ng-repeat="person in personsList" name="signUpForm">
                <li><input type="tel" id="phoneEditInput"  id="tell" name="tell"
                           ng-minleng="11"
                           ng-pattern="/^1[3|5][0-9]\d{4,8}$/"
                           required
                           value="{{person.phone}}"
                           disabled="disabled" style="border: none;background-color: #fff;" >
                    <span ng-messages="signUpForm.tell.$dirty &&signUpForm.tell.$error" style="color:red;">
                        <span  ng-message="signUpForm.tell.$error.required&&signUpForm.tell.$touched">电话不能为空！</span>
                         <span ng-message="(signUpForm.tell.$error.minlength||signUpForm.tell.$error.maxlength||signUpForm.tell.$error.pattern)&&signUpForm.tell.$touched">请输入有效手机号!</span>
                    </span>
                     <span><i class="fa fa-pencil-square-o" id="phoneUpdateBtn" ng-click="phoneUpdateBtn()"></i></span>
                     <span> <i class="fa fa-check" id="phoneSaveBtn" ng-click="phoneSaveBtn()"></i></span>
                    <span> <i class="fa fa-close" id="phoneDisBtn"style="color: red" ng-click="phoneDisBtn()" ></i></span>
                </li>
                <li>***********
                    <span id="pwdUpdateBtn"  data-toggle="modal" data-target="#infoUpdata"  ><i class="fa fa-pencil-square-o" style="color: green"></i>
                    </span></li>
                <li>{{person.department}}</li>
            </ul>
            <div style="float: none"></div>
        </div>

        <!--修改密码，模态框-->
        <div class="modal fade" id="infoUpdata" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">修改密码</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       <center>
                           <form  id="updataForm" name="updataForm">
                               <s class="fa fa-asterisk redText"></s>原&nbsp密&nbsp码&nbsp ： <input type="password" id="oldpwd"  name="inpPwd"
                                                           minlength="5" maxlength="16" required/><br/>
                               <span ng-messages="updataForm.inpPwd.$dirty&&updataForm.inpPwd.$error" style="color: red;">
                                    <span ng-message="required"   style="padding-left: 10px">密码不能为空</span>
                                    <span ng-message="minlength"  style="padding-left: 10px">密码不能少于6位</span>
                                    <span ng-message="maxlength"  style="padding-left: 10px">密码不能多于16位</span>
                                </span><br/>
                               <s class="fa fa-asterisk redText"></s>新&nbsp密&nbsp码&nbsp ：<input type="password"  id="password" name="password"
                                                        ng-model="manager.password" ng-class="{'has-error-border':updataForm.password.$dirty && updataForm.password.$invalid}"
                                                        required/><br/>
                             <span style="color: red">
                                  <span ng-class="{'has-error-text':updataForm.password.$dirty&&updataForm.password.$invalid}"
                                        ng-show="updataForm.password.$dirty&&updataForm.password.$invalid">
                                <span ng-show="updataForm.password.$error.required">请输入密码</span>
                            </span>
                             </span><br/>
                               <s class="fa fa-asterisk redText"></s>再次输入 ： <input type="password" id="passwordAgain" name="passwordAgain" pw-check="password" ng-model="manager.passwordAgain"
                                             ng-class="{'has-error-border':updataForm.passwordAgain.$dirty&&updataForm.passwordAgain.$error.pwmatch
                                    || updataForm.passwordAgain.$dirty&&updataForm.passwordAgain.$error.required}"  required/><br/>
                                <span style="color: red">
                                    <span ng-class="{'has-error-text':updataForm.passwordAgain.$error.pwmatch}" ng-if="updataForm.passwordAgain.$error.pwmatch">
                                <span ng-if="updataForm.passwordAgain.$error.pwmatch && !updataForm.passwordAgain.$error.required">两次密码不一致</span>
                            </span>
                            <span ng-class="{'has-error-text':updataForm.passwordAgain.$dirty&&updataForm.passwordAgain.$error.required}"
                                  ng-if="updataForm.passwordAgain.$dirty&&updataForm.passwordAgain.$error.required">
                                <span ng-if="updataForm.passwordAgain.$error.required">请再次输入密码</span>
                            </span>
                                </span><br/>
                               </form>
                       </center>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dispersonUpdate()">关闭</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="personUpdate()" id="okdeleteBtn">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'tpl/blocks/footer.html'"></div>
</div>