<div ng-controller="returnGoodsController" class="app">
    <div class="mainView">
        <div class="pickGoodsBody">
            <div class="queryDIv">
                <div class="queryTitle bg-black">条件查询</div>
                <div class="queryBody">
                    <!--<input type="date" placeholder="开始日期" class="startDate"/>至<input type="date" placeholder="结束日期" class="endDate"/>-->
                    <!--<select class="selectCss">
                        <option value="-1" aria-checked="true">全部</option>
                        <option value="0">未审核</option>
                        <option value="1">已审核</option>
                    </select>-->

                    <div class="searchGroup">
                        <input type="text" ng-if="roles.role_id!=7" placeholder="订单编号/申请人" class="placeholderOrderNum"/>
                        <input type="text" ng-if="roles.role_id==7" placeholder="订单编号" class="placeholderOrderNum"/>
                        <a href="javascript:;" class="btn btn-primary btn-sm search" ng-click="conditionQuery()"><i class="fa fa-search"></i>搜索</a>
                    </div>
                </div>
            </div>
            <div class="tableContentDiv">
                <!--<div class="addPickPurchaseDiv">
                    <button class="btn btn-success btn-sm" ng-click="addReturnGooodsPurchase()"><s class="fa fa-plus"></s> 新增退料申请</button>
                </div>-->
                <table id="returnGoodsTable" class="display table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <td>退料申请单号</td>
                        <td>申请人</td>
                        <td>申请时间</td>
                        <td>状态</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                </table>

            </div>

            <!--S = modal-->
            <!--新增领料申请-->
            <div class="modal fade" id="addPickGooodsPurchaseModal" tabindex="-1" role="dialog" aria-labelledby="addPickGooodsPurchaseModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addPickGooodsPurchaseModalLabel">新增退料申请</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h4>选择物料：</h4>

                            <div class="tableDiv">
                                <table class="display table-striped table-bordered table-hover" id="addPickPurchaseTable" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <td></td>
                                        <td>领料申请单号</td>
                                        <td>采购订单号</td>
                                        <td>申请时间</td>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="splitLine"></div>
                            <h4>选择审批人：</h4>

                            <div class="choseCheckPeopleDiv">
                                <div class="checkPeopleDiv">
                                    <div class="checkPeopleMain">
                                        <div class="addCheckPeopleDiv">
                                            <div class="addCircleDiv" ng-click="checkGroupLeader($event)">
                                                <span class="fa fa-plus"></span>
                                                <span class="groupLeaderName hideName"></span>
                                            </div>
                                            <input type="hidden" class="groupLeaderNameInp"/>

                                            <div class="checkPeoplePosition">
                                                <s class="fa fa-asterisk redText"></s>室组经理
                                            </div>
                                            <span class="editCheckPeople fa fa-edit"></span>
                                        </div>
                                        <div class="checkArrowDiv">
                                            <span class="fa fa-arrow-right"></span>
                                        </div>
                                        <div class="addCheckPeopleDiv">
                                            <div class="addCircleDiv" ng-click="checkMinister($event)">
                                                <span class="fa fa-plus"></span>
                                                <span class="departmentName hideName"></span>
                                            </div>
                                            <input type="hidden" class="departmentNameInp"/>

                                            <div class="checkPeoplePosition">
                                                <s class="fa fa-asterisk redText"></s>部长
                                            </div>
                                            <span class="editCheckPeople fa fa-edit"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary" ng-click="addPurchaseOk()">确定</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 选择审批人 -->
            <div class="modal fade" id="choseCheckPeopleModal" tabindex="-1" role="dialog" aria-labelledby="choseCheckPeopleModalLabel" aria-hidden="true">
                <div class="modal-dialog choseCheckPeopleDialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="choseCheckPeopleModalLabel">{{choseCheckPeopleTitle}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <ul class="selectCheckUl">
                                <!--<li class="selectLi" ng-click="selectPurchaseName($event)">-->
                                <!--【<span class="selectName">张三</span>】 总经理-->
                                <!--</li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--查看/打印-->
            <div class="modal fade" id="viewPickPurchaseModal" tabindex="-1" role="dialog" aria-labelledby="viewPickPurchaseModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" ng-if="roles.role_id==3||roles.role_id==6">查看/打印/审核退料申请单</h5>
                            <h5 class="modal-title" ng-if="roles.role_id!=3 && roles.role_id!=6">查看/打印退料申请单</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="tableDiv">
                                <input type="hidden" id="billNum"/>
                                <!--startprint1-->
                                <h3 style="text-align: center;margin-bottom: 10px;">退料申请单</h3>
                                <table class="table-bordered table-condensed" cellspacing="0" width="100%">
                                    <tr>
                                        <td>物料编码</td>
                                        <td>名称</td>
                                        <td>型号</td>
                                        <td>项目号</td>
                                        <td>单位</td>
                                        <td>数量</td>
                                        <td>备注</td>
                                    </tr>
                                    <tr ng-repeat="materia in materialList">
                                        <td>{{materia.material_code}}</td>
                                        <td>{{materia.material_name}}</td>
                                        <td>{{materia.model}}</td>
                                        <td>{{materia.project_num}}</td>
                                        <td>{{materia.unit}}</td>
                                        <td>{{materia.number}}</td>
                                        <td>{{materia.remark}}</td>
                                    </tr>
                                </table>
                                <!--endprint1-->
                            </div>
                            <div class="checkBody" ng-if="roles.role_id == 6|| roles.role_id == 3">
                                <div class="radioDiv">
                                    <input type="radio" name="check" id="passCheck" checked checkValue="1"/>
                                    审核通过
                                    <input type="radio" name="check" id="failureCheck" checkValue="-1"/>
                                    拒绝申请
                                </div>
                                <div class="reasonDiv">
                                    <textarea id="reasonText" placeholder="审核理由"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary checkPurchaseOk" ng-click="checkPurchaseOk()" ng-if="roles.role_id == 6|| roles.role_id == 3">审核</button>
                            <button type="button" class="btn btn-warning" ng-click="printReturn()"><s class="fa fa-print"></s> 打印</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'tpl/blocks/aside.html'" class="aside"></div>
    <div ng-include="'tpl/blocks/header.html'" class="header"></div>
    <div ng-include="'tpl/blocks/footer.html'"></div>
    <!--撤销订单提示模态框-->
    <div class="modal fade" id="cancleReturnApplyModal" tabindex="-1" role="dialog" aria-labelledby="cancleReturnApplyModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="hidden" id="material_return_id"/>
                    <h5 class="modal-title" id="cancleReturnApplyModalLabel">撤销领料申请</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>订单正在审批，确定撤销此订单？</h3>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="cancleReturnApplyOk()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script language="javascript">
    function preview(oper){
        if(oper < 10) {
            bdhtml =window.document.body.innerHTML;//获取当前页的html代码
            sprnstr = "<!--startprint" + oper + "-->";//设置打印开始区域
            eprnstr = "<!--endprint" + oper + "-->";//设置打印结束区域
            prnhtml =bdhtml.substring(bdhtml.indexOf(sprnstr) + 18); //从开始代码向后取html
            prnhtml = prnhtml.substring(0,prnhtml.indexOf(eprnstr));//从结束代码向前取html
            //打开一个新窗口newWindow
            var newWindow=window.open("打印窗口","_blank");
            //打印内容写入newWindow文档
            newWindow.document.write(prnhtml);
            var tds = newWindow.document.querySelectorAll('td');
            for(var i = 0;i<tds.length;i++){
                tds[i].style.border="1px solid #444";
            }
            //关闭文档
            newWindow.document.close();
            //调用打印机
            newWindow.print();
            //关闭newWindow页面
            newWindow.close();
        } else{
            window.print();
        }
    }
</script>