#modal-content-usermanage{
  width: 700px;;
  position: absolute;
  left: 50%;
  top: 240px;
  transform: translate(-50%,-50%);
}
/*添加、修改、删除按钮*/
.buttonGrop{
  margin-left: 20px;
  margin-top: 0px;
  button:not(:first-child){
    margin-left: 10px;
  }
}
/*用户列表样式*/
.userTableDiv{
  height: 100%;
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
  .btnGroup{
    position: absolute;
    top:10px;
    right: 40px;
    #queryUserInp{
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    #userSearchButton{
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}
.searchGroupDiv{
  width: 100%;
}
.tableContent{
  height: 100%;
  padding-top: 10px;
}
.userTableQuery{
  margin-top: 10px;
}
