.infoMaintain {
  width: 100%;
  height: 100%;
}
.infoMaintain h1 {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.infoMaintain ul {
  margin-left: 60px;
  font-size: 20px;
}
.infoMaintain ul #phoneEditbtn {
  display: none;
  cursor: pointer;
}
.infoMaintain ul #phoneUpdateBtn {
  color: green;
  cursor: pointer;
  padding-left: 15px;
}
.infoMaintain ul #phoneSaveBtn {
  color: green;
  display: none;
  cursor: pointer;
}
.infoMaintain ul #phoneDisBtn {
  color: green;
  display: none;
  cursor: pointer;
}
.infoMaintain #pwdUpdateBtn {
  cursor: pointer;
  padding-left: 20px;
}
.infoMaintain #gitUl {
  float: left;
  margin-top: -120px;
  margin-left: 170px;
}
.infoMaintain #gitUl #phoneEditInput {
  height: 27px;
  width: 126px;
}
#updataForm #oldpwd,
#password,
#passwordAgain {
  width: 145px;
  height: 28px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
