.depotInputBody {
  margin-top: 10px;
}
.depotInputBody .depotInputTableDiv {
  position: relative;
}
.depotInputBody .depotInputTableDiv table {
  text-align: center;
}
.depotInputBody .depotInputTableDiv table input[type="text"] {
  width: 100%;
  border: none;
}
.depotInputBody .depotInputTableDiv table .topCheckInput {
  margin-left: 10px;
}
.depotInputBody .depotInputTableDiv table s {
  cursor: pointer;
  color: green;
}
.depotInputBody .depotInputTableDiv table s.red {
  color: #cd0a0a;
}
.depotInputBody .depotInputTableDiv .handleDepotDiv {
  width: 400px;
  padding-left: 100px;
  margin-top: -5px;
  margin-bottom: -25px;
  z-index: 1;
  position: absolute;
}
.depotInputBody .depotInputTableDiv .handleDepotDiv button {
  font-weight: 700;
}
