.purchaseCheckBody{
  margin-top: 10px;
  table{
      text-align: center;
  }
}
#purchaseCheckModal .modal-dialog{
  width: 860px;
  table{
    text-align: center;
  }
  .checkBody{
    margin-top: 10px;
    input{
      margin: 0;
    }
    .reasonDiv{
      display: none;
      textarea{
        width: 100%;
      }
    }
  }
}