.purchaseReqSuccess {
  background-color: #51A351 !important;
}
.purchaseFailure {
  background-color: #f05050 !important;
}
.purchaseTrackBody {
  overflow: auto;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
}
.purchaseTrackBody .loadingDiv {
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.purchaseTrackBody .loadingDiv .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.purchaseTrackBody .loadingDiv .loading img {
  width: 60px;
  height: 60px;
}
.purchaseTrackBody .loadingDiv .loading span {
  display: block;
  margin-top: 10px;
  color: #000;
}
.purchaseTrackBody .purchaseLine {
  width: 100%;
  position: relative;
  padding: 35px 0 55px 0;
}
.purchaseTrackBody .purchaseLine .purchaseLineOrder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5px;
  background-color: #f0ad4e;
  border-radius: 5px;
  color: #333;
}
.purchaseTrackBody .purchaseLine .purchaseLineUl {
  width: 100%;
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li {
  float: left;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  background-color: #aaa;
  font-size: 18px;
  color: #fff;
  margin: 0 50px;
  position: relative;
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li > span {
  width: 52px;
  height: 10px;
  position: absolute;
  background-color: #aaa;
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li > span.nextFlowSpan {
  top: 50%;
  right: -51px;
  transform: translateY(-50%);
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li > span.preFlowSpan {
  top: 50%;
  left: -51px;
  transform: translateY(-50%);
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li > span.purchaseResult {
  width: 160px;
  height: 20px;
  line-height: 20px;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-weight: normal;
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li > span.purchaseDatetime {
  width: 160px;
  height: 20px;
  line-height: 20px;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-weight: normal;
}
.purchaseTrackBody .splitLine {
  width: 100%;
  height: 0;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .purchaseTrackBody .purchaseLine {
    padding-bottom: 0;
  }
  .purchaseTrackBody .purchaseLine .purchaseLineUl li {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    margin: 0 30px 50px 30px;
  }
  .purchaseTrackBody .purchaseLine .purchaseLineUl li > span {
    width: 32px;
    height: 10px;
    position: absolute;
    background-color: #aaa;
  }
  .purchaseTrackBody .purchaseLine .purchaseLineUl li > span.nextFlowSpan {
    top: 50%;
    right: -31px;
    transform: translateY(-50%);
  }
  .purchaseTrackBody .purchaseLine .purchaseLineUl li > span.preFlowSpan {
    top: 50%;
    left: -31px;
    transform: translateY(-50%);
  }
  .purchaseTrackBody .purchaseLine .purchaseLineUl li > span.purchaseResult {
    width: 160px;
    height: 20px;
    line-height: 20px;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: normal;
  }
  .purchaseTrackBody .purchaseLine .purchaseLineUl li > span.purchaseDatetime {
    width: 160px;
    height: 20px;
    line-height: 20px;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: normal;
  }
  .queryBody {
    padding: 10px 5px !important;
  }
  .queryBody > input {
    width: 92px !important;
    padding: 0 !important;
  }
  .queryBody .placeholderOrderNum {
    width: 80px !important;
  }
  .queryBody .searchGroup {
    right: 5px !important;
  }
}
