/*����*/
.title {
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
  background-color: #1c2b36;
  color: #fff;
}
.redText {
  color: #f05050;
  font-size: 12px;
}
.errorTip {
  width: 80%;
  min-height: 18px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #030303;
  opacity: .5;
  color: #fff;
  border-radius: 5px;
  z-index: 100;
}
.errorTip:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  top: -5px;
  left: 50%;
  background-color: #030303;
  transform: rotate(45deg);
  z-index: 99;
}
.selectLi {
  cursor: pointer;
}
.proposal-box {
  background-color: #fff;
  z-index: 100;
}
/*�ɹ����뵥*/
.purchaseReqOrder {
  border: 1px solid #ccc;
}
.purchaseReqOrder > .title {
  position: relative;
}
.purchaseReqOrder > .title span {
  position: absolute;
  font-size: 12px;
  top: 0;
  right: 10px;
}
.purchaseReqOrder .materialDiv {
  height: auto;
  margin: 10px;
}
.purchaseReqOrder .materialDiv .projectNumDiv {
  height: 29px;
}
.purchaseReqOrder .materialDiv > ul {
  width: 100%;
  overflow: hidden;
}
.purchaseReqOrder .materialDiv > ul > li {
  width: 12.5%;
  height: 30px;
  line-height: 30px;
  float: left;
  border: 1px solid #ccc;
  border-right: none;
}
.purchaseReqOrder .materialDiv > ul > li:last-child {
  border-right: 1px solid #ccc;
}
.purchaseReqOrder .materialDiv .materialListDiv {
  position: relative;
  margin-top: 5px;
}
.purchaseReqOrder .materialDiv .materialListDiv > div {
  width: 12.5%;
  padding: 0 2px;
  float: left;
  border: 1px solid #ccc;
  border-right: none;
  position: relative;
}
.purchaseReqOrder .materialDiv .materialListDiv > div:last-child {
  border-right: 1px solid #ccc;
}
.purchaseReqOrder .materialDiv .materialListDiv > div input {
  width: 100%;
  height: 26px;
  border: none;
  border-radius: 3px;
}
.purchaseReqOrder .materialDiv .materialListDiv .deleteMaterial {
  position: absolute;
  top: -4px;
  right: -4px;
  height: 14px;
  width: 14px;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
  color: #fff;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  z-index: 101;
}
.purchaseReqOrder .materialDiv .materialListDiv:hover > .deleteMaterial {
  display: block;
}
.purchaseReqOrder .materialDiv .addMaterialListDiv {
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px dashed #888;
  margin-top: 5px;
  cursor: pointer;
}
.modalLoading {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#chsseAddMaterialModal .modal-body {
  min-height: 50px;
  max-height: 300px;
}
/*������*/
.checkPeopleDiv {
  height: 150px;
  border: 1px solid #ccc;
  margin-top: 10px;
}
.checkPeopleDiv .checkPeopleMain {
  height: 110px;
  overflow: hidden;
}
.checkPeopleDiv .checkPeopleMain > div {
  float: left;
}
.checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv {
  width: 110px;
  height: 110px;
  text-align: center;
  padding-top: 17px;
  position: relative;
}
.checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv {
  height: 50px;
  width: 50px;
  line-height: 45px;
  text-align: center;
  font-size: 22px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 30px;
}
.checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv > span {
  font-size: 14px;
}
.checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv > span.hideName {
  display: none;
}
.checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .editCheckPeople {
  position: absolute;
  top: 18px;
  right: 26px;
  display: none;
}
.checkPeopleDiv .checkPeopleMain .checkArrowDiv {
  height: 110px;
  line-height: 90px;
}
/*�ύ*/
.submitDiv {
  text-align: right;
  margin-top: 10px;
  padding-right: 25px;
}
.submitDiv span {
  display: inline-block;
  height: 34px;
  line-height: 34px;
}
@media (max-width: 767px) {
  .navbar-header {
    width: 100%;
  }
  .main-sidebar {
    width: 0;
    overflow: hidden;
  }
  .purchaseReqOrder {
    border: none;
  }
  .checkPeopleDiv {
    border: none;
    border-bottom: 1px solid #ccc;
  }
}
