#modal-content-usermanage{
  width: 700px;;

left: 50%;
top: 240px;
transform: translate(-50%,-50%);
}
/*添加、修改、删除按钮*/
.buttonGrop{
  margin-left: 20px;
  margin-top: 0px;
  button:not(:first-child){
    margin-left: 10px;
  }
}

.userTableDiv{
  height: 100%;
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
  .btnGroup{
position: absolute;
    top:10px;
    right: 30px;
    z-index: -1;
    #queryUserInp{
      border-radius: 4px 0 0 4px;
      outline: none;
      border: 1px solid #ccc;
      width: 120px;;
    }
    #userSearchButton{
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}
/*用户列表样式*/
.searchGroupDiv{
  width: 100%;
}
.tableContent{
  height: 100%;
  padding-top: 10px;
 #userTable tr
 td:first-child{
   width: 60px;;
 }
 td{
     text-align: center;
   }
}
.userTableQuery{
  margin-top: 10px;
}

// 平板
@media (min-width: 768px) and (max-width: 991px) {
}
// 手机
@media (max-width: 767px) {
  #modal-content-usermanage{
    width: 175px ;;
    position: absolute;
    left: 50%;
    top: 310px;
    transform: translate(-50%,-50%);
  }


}
