.depotInputBody {
  margin-top: 10px;
}
.depotInputBody .depotInputTableDiv {
  position: relative;
}
.depotInputBody .depotInputTableDiv table {
  text-align: center;
}
.depotInputBody .depotInputTableDiv table input[type="text"] {
  width: 100%;
  border: none;
}
.depotInputBody .depotInputTableDiv table .topCheckInput {
  margin-left: 10px;
}
.depotInputBody .depotInputTableDiv table s {
  cursor: pointer;
  color: green;
}
.depotInputBody .depotInputTableDiv table s.red {
  color: #cd0a0a;
}
.depotInputBody .depotInputTableDiv .handleDepotDiv {
  position: absolute;
  top: -5px;
  right: 0;
  padding-right: 10px;
}
.depotInputBody .depotInputTableDiv .handleDepotDiv button {
  font-weight: 700;
}
.depotInputBody .depotInputTableDiv .dataTables_wrapper {
  z-index: -1;
}
