@charset "UTF-8";
/*ҳ����ʼ��*/
body,
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
}
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
table,
th,
td,
menu {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
ul,
ol,
menu {
  list-style: none;
}
fieldset,
img {
  border: none;
}
img,
object,
select,
input,
textarea,
button {
  vertical-align: middle;
}
input,
textarea,
select,
address,
caption,
cite,
code,
dfn,
em,
i,
b,
strong,
small,
th,
var,
abbr {
  font-size: 100%;
  font-style: normal;
}
caption,
th {
  text-align: left;
}
article,
aside,
footer,
header,
hgroup,
nav,
section,
figure,
figcaption {
  display: block;
}
code,
kbd,
pre,
samp,
tt {
  font-family: Consolas, "Courier New", Courier, monospace;
}
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
a:link,
a:visited,
a:active {
  color: #333;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #333;
  text-decoration: none;
  outline: none;
}
a,
a span,
a i,
a em,
a u,
a strong,
a b,
a p,
a img,
a ul,
a li,
a div,
a dd,
a dt,
a dl,
a ol,
a table,
a th,
a td,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6,
a input,
a textarea,
a button,
a small,
a select {
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
abbr[title],
acronym[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
body {
  font-size: 13px;
  color: #555;
  line-height: 2;
}
body,
button,
input,
select,
textarea {
  outline: none;
  font-family: tahoma, Helvetica, Arial, "\5FAE\8F6F\96C5\9ED1";
  *font-family: "\5FAE\8F6F\96C5\9ED1";
}
h1 {
  font-size: 23px;
}
h2 {
  font-size: 21px;
}
h3 {
  font-size: 19px;
}
h4 {
  font-size: 17px;
}
h5 {
  font-size: 15px;
}
h6 {
  font-size: 13px;
}
hr {
  border: none;
  height: 1px;
  background: #d4d4d4;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.cf:before,
.cf:after,
.web:before,
.web:after,
.web_:before,
.web_:after {
  content: "";
  display: table;
}
.cf:after,
.web:after,
.web_:after {
  clear: both;
}
.cf {
  zoom: 1;
}
.block {
  display: block;
}
.none {
  display: none;
}
.clear {
  clear: both;
}
s {
  text-decoration: none;
}
/*����*/
.navbar-header {
  width: 200px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.navbar-header button {
  padding: 10px 17px;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
}
.navbar-header a {
  color: #fff;
}
.collapse {
  margin-left: 200px;
}
.box-shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
/*��Ϣ����������ʾ*/
.bg-danger {
  color: #fff;
  background-color: #f05050;
}
.badge.up {
  position: relative;
  top: -10px;
  padding: 3px 6px;
  margin-left: -10px;
}
/*ҳ�沼��*/
/*layout*/
html,
body {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
}
.bg-black {
  color: #7793a7;
  background-color: #1c2b36;
}
.bg-black i {
  color: #fff;
}
.bg-white-only {
  background-color: #fff;
  color: #444;
}
.bg-white-only a {
  color: #000;
}
.app {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.app .messageUl {
  max-height: 150px;
  overflow-y: auto;
}
.app-head-fixed {
  padding-top: 50px;
}
.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
}
.aside {
  position: fixed;
  left: 0;
  top: 50px;
  width: 200px;
}
.mainView {
  padding: 10px 10px 10px 210px;
  height: auto;
  min-height: 100%;
}
.mainView .mainViewBody {
  width: 100%;
}
.text-active,
.active > .text {
  display: none !important;
}
.active .text-active,
.active .auto .text-active {
  display: inline-block !important;
}
.queryDIv {
  border: 1px solid #ccc;
}
.queryDIv .queryTitle {
  height: 35px;
  line-height: 35px;
  padding-left: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.queryDIv .queryBody {
  padding: 10px;
  position: relative;
}
.queryDIv .queryBody input {
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}
.queryDIv .queryBody .searchGroup {
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.queryDIv .queryBody .searchGroup input {
  border-radius: 4px 0 0 4px;
  width: 200px;
}
.queryDIv .queryBody .searchGroup .search {
  color: #fff;
  margin-left: -5px;
  border-radius: 0 4px 4px 0;
}
.selectCss {
  width: 150px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.redText {
  color: #f05050 !important;
  font-size: 12px;
}
@media (max-width: 767px) {
  .navbar-header {
    width: 100%;
  }
  .main-sidebar {
    width: 0;
    overflow: hidden;
  }
  .mainView {
    padding: 10px 0 0 0;
  }
  .aside {
    width: auto;
  }
}
/*�ɹ�*/
/*����*/
.title {
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
  background-color: #1c2b36;
  color: #fff;
}
.redText {
  color: #f05050;
  font-size: 12px;
}
.errorTip {
  width: 80%;
  min-height: 18px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #030303;
  opacity: .5;
  color: #fff;
  border-radius: 5px;
  z-index: 100;
}
.errorTip:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  top: -5px;
  left: 50%;
  background-color: #030303;
  transform: rotate(45deg);
  z-index: 99;
}
.selectLi {
  cursor: pointer;
}
/*�ɹ����뵥*/
.purchaseReqOrder {
  border: 1px solid #ccc;
}
.purchaseReqOrder > .title {
  position: relative;
}
.purchaseReqOrder > .title span {
  position: absolute;
  font-size: 12px;
  top: 0;
  right: 10px;
}
.purchaseReqOrder .materialDiv {
  height: auto;
  margin: 10px;
}
.purchaseReqOrder .materialDiv > ul {
  width: 100%;
  overflow: hidden;
}
.purchaseReqOrder .materialDiv > ul > li {
  width: 12.5%;
  height: 30px;
  line-height: 30px;
  float: left;
  text-align: center;
  border: 1px solid #ccc;
  border-right: none;
}
.purchaseReqOrder .materialDiv > ul > li:last-child {
  border-right: 1px solid #ccc;
}
.purchaseReqOrder .materialDiv .materialListDiv {
  position: relative;
  margin-top: 5px;
}
.purchaseReqOrder .materialDiv .materialListDiv > div {
  width: 12.5%;
  padding: 0 2px;
  float: left;
  border: 1px solid #ccc;
  border-right: none;
  position: relative;
}
.purchaseReqOrder .materialDiv .materialListDiv > div:last-child {
  border-right: 1px solid #ccc;
}
.purchaseReqOrder .materialDiv .materialListDiv > div input {
  width: 100%;
  height: 26px;
  border: none;
}
.purchaseReqOrder .materialDiv .materialListDiv .deleteMaterial {
  position: absolute;
  top: -4px;
  right: -4px;
  height: 14px;
  width: 14px;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
  color: #fff;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  z-index: 101;
}
.purchaseReqOrder .materialDiv .materialListDiv:hover > .deleteMaterial {
  display: block;
}
.purchaseReqOrder .materialDiv .addMaterialListDiv {
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px dashed #888;
  margin-top: 5px;
  cursor: pointer;
}
/*������*/
.checkPeopleDiv {
  height: 150px;
  border: 1px solid #ccc;
  margin-top: 10px;
}
.checkPeopleDiv .checkPeopleMain {
  height: 110px;
  overflow: hidden;
}
.checkPeopleDiv .checkPeopleMain > div {
  float: left;
}
.checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv {
  width: 110px;
  height: 110px;
  text-align: center;
  padding-top: 17px;
  position: relative;
}
.checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv {
  height: 50px;
  width: 50px;
  line-height: 45px;
  text-align: center;
  font-size: 22px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 30px;
}
.checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv > span {
  font-size: 14px;
}
.checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv > span.hideName {
  display: none;
}
.checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .editCheckPeople {
  position: absolute;
  top: 18px;
  right: 26px;
  display: none;
}
.checkPeopleDiv .checkPeopleMain .checkArrowDiv {
  height: 110px;
  line-height: 90px;
}
/*�ύ*/
.submitDiv {
  text-align: right;
  margin-top: 10px;
  padding-right: 25px;
}
.submitDiv span {
  display: inline-block;
  height: 34px;
  line-height: 34px;
}
@media (max-width: 767px) {
  .navbar-header {
    width: 100%;
  }
  .main-sidebar {
    width: 0;
    overflow: hidden;
  }
  .purchaseReqOrder {
    border: none;
  }
  .checkPeopleDiv {
    border: none;
    border-bottom: 1px solid #ccc;
  }
}
.purchaseReqSuccess {
  background-color: #51A351 !important;
}
.purchaseFailure {
  background-color: #f05050 !important;
}
.purchaseTrackBody {
  overflow: auto;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
}
.purchaseTrackBody .loadingDiv {
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: .6;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.purchaseTrackBody .loadingDiv .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.purchaseTrackBody .loadingDiv .loading img {
  width: 60px;
  height: 60px;
}
.purchaseTrackBody .loadingDiv .loading span {
  display: block;
  margin-top: 10px;
  color: #000;
}
.purchaseTrackBody .purchaseLine {
  width: 100%;
  position: relative;
  padding: 35px 0 55px 0;
}
.purchaseTrackBody .purchaseLine .purchaseLineOrder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5px;
  background-color: #f0ad4e;
  border-radius: 5px;
  color: #333;
}
.purchaseTrackBody .purchaseLine .purchaseLineUl {
  width: 100%;
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li {
  float: left;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  background-color: #aaa;
  font-size: 18px;
  color: #fff;
  margin: 0 50px;
  position: relative;
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li > .showReasonDiv {
  display: none;
  width: 130px;
  height: 60px;
  background-color: #fff;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  left: 50px;
  top: 50px;
  z-index: 100;
  padding: 5px;
  color: #444;
  line-height: 16px;
  font-size: 14px;
  word-wrap: break-word;
  text-align: left;
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li > span {
  width: 52px;
  height: 10px;
  position: absolute;
  background-color: #aaa;
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li > span.nextFlowSpan {
  top: 50%;
  right: -51px;
  transform: translateY(-50%);
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li > span.preFlowSpan {
  top: 50%;
  left: -51px;
  transform: translateY(-50%);
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li > span.purchaseResult {
  width: 160px;
  height: 20px;
  line-height: 20px;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-weight: normal;
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li > span.purchaseDatetime {
  width: 160px;
  height: 20px;
  line-height: 20px;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-weight: normal;
}
.purchaseTrackBody .splitLine {
  width: 100%;
  height: 0;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .purchaseTrackBody .purchaseLine {
    padding-bottom: 0;
  }
  .purchaseTrackBody .purchaseLine .purchaseLineUl li {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    margin: 0 30px 50px 30px;
  }
  .purchaseTrackBody .purchaseLine .purchaseLineUl li > span {
    width: 32px;
    height: 10px;
    position: absolute;
    background-color: #aaa;
  }
  .purchaseTrackBody .purchaseLine .purchaseLineUl li > span.nextFlowSpan {
    top: 50%;
    right: -31px;
    transform: translateY(-50%);
  }
  .purchaseTrackBody .purchaseLine .purchaseLineUl li > span.preFlowSpan {
    top: 50%;
    left: -31px;
    transform: translateY(-50%);
  }
  .purchaseTrackBody .purchaseLine .purchaseLineUl li > span.purchaseResult {
    width: 160px;
    height: 20px;
    line-height: 20px;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: normal;
  }
  .purchaseTrackBody .purchaseLine .purchaseLineUl li > span.purchaseDatetime {
    width: 160px;
    height: 20px;
    line-height: 20px;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: normal;
  }
  .queryBody {
    padding: 10px 5px !important;
  }
  .queryBody > input {
    width: 92px !important;
    padding: 0 !important;
  }
  .queryBody .placeholderOrderNum {
    width: 80px !important;
  }
  .queryBody .searchGroup {
    right: 5px !important;
  }
}
.purchaseHistoryBody {
  margin-top: 10px;
}
.purchaseHistoryBody table {
  text-align: center;
}
.purchaseHistoryBody table s {
  cursor: pointer;
  color: green;
}
.purchaseHistoryBody table s.red {
  color: #cd0a0a;
}
.purchaseCheckBody {
  margin-top: 10px;
}
.purchaseCheckBody table {
  text-align: center;
}
#purchaseCheckModal .modal-dialog,
#purchaseModal .modal-dialog {
  width: 1200px;
}
#purchaseCheckModal .modal-dialog .tableDiv,
#purchaseModal .modal-dialog .tableDiv {
  max-height: 400px;
  overflow-y: auto;
}
#purchaseCheckModal .modal-dialog .tableDiv table,
#purchaseModal .modal-dialog .tableDiv table {
  text-align: center;
}
#purchaseCheckModal .modal-dialog .tableDiv table input,
#purchaseModal .modal-dialog .tableDiv table input {
  width: 100%;
  height: 100%;
  border: none;
}
#purchaseCheckModal .modal-dialog .tableDiv table td,
#purchaseModal .modal-dialog .tableDiv table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#purchaseCheckModal .modal-dialog .tableDiv .tableInfoDiv,
#purchaseModal .modal-dialog .tableDiv .tableInfoDiv {
  margin-bottom: 10px;
}
#purchaseCheckModal .modal-dialog .tableDiv .tableInfoDiv .tableInfoUl,
#purchaseModal .modal-dialog .tableDiv .tableInfoDiv .tableInfoUl {
  padding-left: 35px;
  overflow: hidden;
  display: flex;
}
#purchaseCheckModal .modal-dialog .tableDiv .tableInfoDiv .tableInfoUl > li,
#purchaseModal .modal-dialog .tableDiv .tableInfoDiv .tableInfoUl > li {
  float: left;
  flex: 1;
}
#purchaseCheckModal .modal-dialog .tableDiv .tableInfoDiv .tableInfoUl > li input,
#purchaseModal .modal-dialog .tableDiv .tableInfoDiv .tableInfoUl > li input {
  height: 26px;
  margin-top: -2px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
#purchaseCheckModal .modal-dialog .checkBody,
#purchaseModal .modal-dialog .checkBody {
  margin-top: 10px;
}
#purchaseCheckModal .modal-dialog .checkBody input,
#purchaseModal .modal-dialog .checkBody input {
  margin: 0;
}
#purchaseCheckModal .modal-dialog .checkBody .reasonDiv,
#purchaseModal .modal-dialog .checkBody .reasonDiv {
  display: none;
}
#purchaseCheckModal .modal-dialog .checkBody .reasonDiv textarea,
#purchaseModal .modal-dialog .checkBody .reasonDiv textarea {
  width: 100%;
}
/*����*/
.depotInputBody {
  margin-top: 10px;
}
.depotInputBody .depotInputTableDiv {
  position: relative;
}
.depotInputBody .depotInputTableDiv table {
  text-align: center;
}
.depotInputBody .depotInputTableDiv table input[type="text"] {
  width: 100%;
  border: none;
}
.depotInputBody .depotInputTableDiv table .topCheckInput {
  margin-left: 10px;
}
.depotInputBody .depotInputTableDiv table s {
  cursor: pointer;
  color: green;
}
.depotInputBody .depotInputTableDiv table s.red {
  color: #cd0a0a;
}
.depotInputBody .depotInputTableDiv .handleDepotDiv {
  position: absolute;
  top: -5px;
  right: 0;
  padding-right: 10px;
}
.depotInputBody .depotInputTableDiv .handleDepotDiv button {
  font-weight: 700;
}
/*ϵͳ����*/
#modal-content-usermanage {
  width: 700px;
  position: absolute;
  left: 50%;
  top: 240px;
  transform: translate(-50%, -50%);
}
/*���ӡ��޸ġ�ɾ����ť*/
.buttonGrop {
  margin-left: 20px;
  margin-top: 0px;
}
.buttonGrop button:not(:first-child) {
  margin-left: 10px;
}
/*�û��б���ʽ*/
.userTableDiv {
  height: 100%;
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
}
.userTableDiv .btnGroup {
  position: absolute;
  top: 10px;
  right: 30px;
}
.userTableDiv .btnGroup #queryUserInp {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.userTableDiv .btnGroup #userSearchButton {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.searchGroupDiv {
  width: 100%;
}
.tableContent {
  height: 100%;
  padding-top: 10px;
}
.tableContent #userTable tr td:first-child {
  width: 60px;
}
.tableContent td {
  text-align: center;
}
.userTableQuery {
  margin-top: 10px;
}
/*�ҵ�*/
.infoMaintain {
  width: 100%;
  border: 1px solid #ccc ;
  height: 100%;
}
.infoMaintain h1 {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.infoMaintain ul {
  margin-left: 60px;
  font-size: 20px;
}
.infoMaintain ul li span {
  padding-left: 10px;
}
