.pickGoodsBody .tableContentDiv {
  margin-top: 10px;
  position: relative;
}
.pickGoodsBody .tableContentDiv span.viewPickPurchaseOrder {
  cursor: pointer;
}
.addPickPurchaseDiv {
  margin-bottom: -47px;
  margin-top: 15px;
  padding-left: 100px;
}
.addPickPurchaseDiv button {
  font-weight: 700;
}
#addPickGooodsPurchaseModal .modal-dialog,
#choseCheckPeopleModal .modal-dialog,
#viewPickPurchaseModal .modal-dialog {
  width: 1200px;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body,
#choseCheckPeopleModal .modal-dialog .modal-body,
#viewPickPurchaseModal .modal-dialog .modal-body {
  width: 100%;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .tableDiv table,
#choseCheckPeopleModal .modal-dialog .modal-body .tableDiv table,
#viewPickPurchaseModal .modal-dialog .modal-body .tableDiv table {
  text-align: center;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .tableDiv table s,
#choseCheckPeopleModal .modal-dialog .modal-body .tableDiv table s,
#viewPickPurchaseModal .modal-dialog .modal-body .tableDiv table s {
  cursor: pointer;
  color: green;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .tableDiv table s.red,
#choseCheckPeopleModal .modal-dialog .modal-body .tableDiv table s.red,
#viewPickPurchaseModal .modal-dialog .modal-body .tableDiv table s.red {
  color: #cd0a0a;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .tableDiv table input[type="number"],
#choseCheckPeopleModal .modal-dialog .modal-body .tableDiv table input[type="number"],
#viewPickPurchaseModal .modal-dialog .modal-body .tableDiv table input[type="number"] {
  width: 100%;
  border: none;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .tableDiv .dataTables_scrollHeadInner,
#choseCheckPeopleModal .modal-dialog .modal-body .tableDiv .dataTables_scrollHeadInner,
#viewPickPurchaseModal .modal-dialog .modal-body .tableDiv .dataTables_scrollHeadInner {
  width: 100% !important;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .tableDiv .dataTables_scrollHeadInner > table,
#choseCheckPeopleModal .modal-dialog .modal-body .tableDiv .dataTables_scrollHeadInner > table,
#viewPickPurchaseModal .modal-dialog .modal-body .tableDiv .dataTables_scrollHeadInner > table {
  width: 100% !important;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .tableDiv .dataTables_scrollBody,
#choseCheckPeopleModal .modal-dialog .modal-body .tableDiv .dataTables_scrollBody,
#viewPickPurchaseModal .modal-dialog .modal-body .tableDiv .dataTables_scrollBody {
  border-bottom: none;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body h4,
#choseCheckPeopleModal .modal-dialog .modal-body h4,
#viewPickPurchaseModal .modal-dialog .modal-body h4 {
  padding: 0 0 5px 20px;
  font-size: 14px;
  font-weight: 700;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .splitLine,
#choseCheckPeopleModal .modal-dialog .modal-body .splitLine,
#viewPickPurchaseModal .modal-dialog .modal-body .splitLine {
  width: 100%;
  height: 0;
  border-bottom: 1px dashed #ccc;
  margin: 10px 0;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv,
#choseCheckPeopleModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv {
  min-height: 50px;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv,
#choseCheckPeopleModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv {
  height: auto;
  margin: 10px;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv > ul,
#choseCheckPeopleModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv > ul,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv > ul {
  width: 100%;
  overflow: hidden;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv > ul > li,
#choseCheckPeopleModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv > ul > li,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv > ul > li {
  width: 12.5%;
  height: 30px;
  line-height: 30px;
  float: left;
  text-align: center;
  border: 1px solid #ccc;
  border-right: none;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv > ul > li:last-child,
#choseCheckPeopleModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv > ul > li:last-child,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv > ul > li:last-child {
  border-right: 1px solid #ccc;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv,
#choseCheckPeopleModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv {
  position: relative;
  margin-top: 5px;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv > div,
#choseCheckPeopleModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv > div,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv > div {
  width: 12.5%;
  padding: 0 2px;
  float: left;
  border: 1px solid #ccc;
  border-right: none;
  position: relative;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv > div:last-child,
#choseCheckPeopleModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv > div:last-child,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv > div:last-child {
  border-right: 1px solid #ccc;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv > div input,
#choseCheckPeopleModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv > div input,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv > div input {
  width: 100%;
  height: 26px;
  border: none;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv .deleteMaterial,
#choseCheckPeopleModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv .deleteMaterial,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv .deleteMaterial {
  position: absolute;
  top: -4px;
  right: -4px;
  height: 14px;
  width: 14px;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
  color: #fff;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  z-index: 101;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv:hover > .deleteMaterial,
#choseCheckPeopleModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv:hover > .deleteMaterial,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv:hover > .deleteMaterial {
  display: block;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .addMaterialListDiv,
#choseCheckPeopleModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .addMaterialListDiv,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .addMaterialListDiv {
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px dashed #888;
  margin-top: 5px;
  cursor: pointer;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv,
#choseCheckPeopleModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv,
#viewPickPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv {
  border: none;
  height: 70px;
  margin: 0;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain,
#choseCheckPeopleModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain,
#viewPickPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain {
  height: 80px;
  overflow: hidden;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain > div,
#choseCheckPeopleModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain > div,
#viewPickPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain > div {
  float: left;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv,
#choseCheckPeopleModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv,
#viewPickPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv {
  width: 110px;
  height: 70px;
  text-align: center;
  position: relative;
  padding-top: 5px;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv,
#choseCheckPeopleModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv,
#viewPickPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv {
  height: 50px;
  width: 50px;
  line-height: 45px;
  text-align: center;
  font-size: 22px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 30px;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv > span,
#choseCheckPeopleModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv > span,
#viewPickPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv > span {
  font-size: 14px;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv > span.hideName,
#choseCheckPeopleModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv > span.hideName,
#viewPickPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv > span.hideName {
  display: none;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .editCheckPeople,
#choseCheckPeopleModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .editCheckPeople,
#viewPickPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .editCheckPeople {
  position: absolute;
  top: 8px;
  right: 26px;
  display: none;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .checkArrowDiv,
#choseCheckPeopleModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .checkArrowDiv,
#viewPickPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .checkArrowDiv {
  height: 70px;
  line-height: 70px;
}
#addPickGooodsPurchaseModal .modal-dialog .topCheckInput,
#choseCheckPeopleModal .modal-dialog .topCheckInput,
#viewPickPurchaseModal .modal-dialog .topCheckInput {
  margin-left: 10px;
}
.checkBody {
  margin-top: 10px;
}
.checkBody input {
  margin: 0;
}
.checkBody .reasonDiv {
  display: none;
}
.checkBody .reasonDiv textarea {
  width: 100%;
}
