#modal-content-usermanage {
  width: 700px;
  left: 50%;
  top: 240px;
  transform: translate(-50%, -50%);
}
/*���ӡ��޸ġ�ɾ����ť*/
.buttonGrop {
  margin-left: 20px;
  margin-top: 0px;
}
.buttonGrop button:not(:first-child) {
  margin-left: 10px;
}
.userTableDiv {
  height: 100%;
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
}
.userTableDiv .btnGroup {
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: -1;
}
.userTableDiv .btnGroup #queryUserInp {
  border-radius: 4px 0 0 4px;
  outline: none;
  border: 1px solid #ccc;
  width: 120px;
}
.userTableDiv .btnGroup #userSearchButton {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/*�û��б���ʽ*/
.searchGroupDiv {
  width: 100%;
}
.tableContent {
  height: 100%;
  padding-top: 10px;
}
.tableContent #userTable tr td:first-child {
  width: 60px;
}
.tableContent td {
  text-align: center;
}
.userTableQuery {
  margin-top: 10px;
}
@media (max-width: 767px) {
  #modal-content-usermanage {
    width: 175px ;
    position: absolute;
    left: 50%;
    top: 310px;
    transform: translate(-50%, -50%);
  }
}
