.navbar-header{
  width: 200px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  button{
    padding: 10px 17px;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
  }
  a{
    color: #fff;
  }
}
.collapse{
  margin-left: 200px;
}
.box-shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}

/*��Ϣ����������ʾ*/
.bg-danger{
  color: #fff;
  background-color: #f05050;
}
.badge.up{
  position: relative;
  top: -10px;
  padding: 3px 6px;
  margin-left: -10px
}
.alreadyRead{
  text-decoration: blink;
  padding-left: 10px;
  cursor: pointer;
  color: #0000FF;
  text-decoration: underline;
}

/*加载动画*/

.loadingBar{
  position:fixed;
  width: 100%;
  top:50px;
  right:0;
  left:0;
  height:2px;
  display: none;
  background:#4197ff;
  -webkit-transform:translateX(-100%);
  &.is-active {
    display:block;
    -webkit-animation:loading 1s ease-in-out infinite;
    animation:loading 1s ease-in-out infinite
  }
}

@keyframes loading {
  0% {
    -webkit-transform:translateX(-100%);
    transform:translateX(-100%)
  }
  40% {
    -webkit-transform:translateX(0);
    transform:translateX(0)
  }
  60% {
    -webkit-transform:translateX(0);
    transform:translateX(0)
  }
  to {
    -webkit-transform:translateX(100%);
    transform:translateX(100%)
  }
}
