.navbar-header {
  width: 200px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.navbar-header button {
  padding: 10px 17px;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
}
.navbar-header a {
  color: #fff;
}
.collapse {
  margin-left: 200px;
}
.box-shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
/*��Ϣ����������ʾ*/
.bg-danger {
  color: #fff;
  background-color: #f05050;
}
.badge.up {
  position: relative;
  top: -10px;
  padding: 3px 6px;
  margin-left: -10px;
}
.alreadyRead {
  text-decoration: blink;
  padding-left: 10px;
  cursor: pointer;
  color: #0000FF;
  text-decoration: underline;
}
/*���ض���*/
/*
.butterbar{
  position: fixed;
  width: 100%;
  top: 50px;
  height: 2px;
  .bar{
    position: absolute;
    height: 0;
    width: 100%;
    text-indent: -9999px;
    border:2px solid #23b7e5;
    &:before{
      content: "";
      height: 2px;
      position: absolute;
      left: 50%;
      right: 50%;
      background-color: inherit;
    }
  }
}
.butterbar.active{
  -webkit-animation: changebar 2*3s infinite 2s;
  -moz-animation: changebar 2*3s infinite 2s;
  animation: changebar 2*3s infinite 2s;
  .bar{
    -webkit-animation: changebar 2*3s infinite;
    -moz-animation: changebar 2*3s infinite;
    animation: changebar 2*3s infinite;
    &:before{
      -webkit-animation: movingbar 2s infinite;
      -moz-animation: movingbar 2s infinite;
      animation: movingbar 2s infinite;
    }
  }
}

/!* Moving bar *!/
@-webkit-keyframes movingbar{
  0%    { left:50%; right:50% ;}
  99.9% { left:0; right:0 ;}
  100%  { left:50%; right:50%;}
}

@-moz-keyframes movingbar{
  0%    { left:50%; right:50% ;}
  99.9% { left:0; right:0 ;}
  100%  { left:50%; right:50%;}
}

@keyframes movingbar{
  0%    { left:50%; right:50% ;}
  99.9% { left:0; right:0 ;}
  100%  { left:50%; right:50%;}
}

/!* change bar *!/
@-webkit-keyframes changebar{
  0%    { border-color: #23b7e5}
  33.3%   { border-color: #23b7e5 }
  33.33%  { border-color: #fad733 }
  66.6%   { border-color: #fad733 }
  66.66%  { border-color: #428bca }
  99.9% { border-color: #428bca }
}

@-moz-keyframes changebar{
  0%    { border-color: #23b7e5}
  33.3%   { border-color: #23b7e5 }
  33.33%  { border-color: #fad733 }
  66.6%   { border-color: #fad733 }
  66.66%  { border-color: #428bca }
  99.9% { border-color: #428bca }
}

@keyframes changebar{
  0%    { border-color: #23b7e5}
  33.3%   { border-color: #23b7e5 }
  33.33%  { border-color: #fad733 }
  66.6%   { border-color: #fad733 }
  66.66%  { border-color: #428bca }
  99.9% { border-color: #428bca }
}*/
