@charset "UTF-8";
/*页面初始化*/
body,
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
}
body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
table,
th,
td,
menu {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
ul,
ol,
menu {
  list-style: none;
}
fieldset,
img {
  border: none;
}
img,
object,
select,
input,
textarea,
button {
  vertical-align: middle;
}
input,
textarea,
select,
address,
caption,
cite,
code,
dfn,
em,
i,
b,
strong,
small,
th,
var,
abbr {
  font-size: 100%;
  font-style: normal;
}
caption,
th {
  text-align: left;
}
article,
aside,
footer,
header,
hgroup,
nav,
section,
figure,
figcaption {
  display: block;
}
code,
kbd,
pre,
samp,
tt {
  font-family: Consolas, "Courier New", Courier, monospace;
}
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
a:link,
a:visited,
a:active {
  color: #333;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
a,
a span,
a i,
a em,
a u,
a strong,
a b,
a p,
a img,
a ul,
a li,
a div,
a dd,
a dt,
a dl,
a ol,
a table,
a th,
a td,
a h1,
a h2,
a h3,
a h4,
a h5,
a h6,
a input,
a textarea,
a button,
a small,
a select {
  cursor: pointer;
  outline: none;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
table td {
  word-wrap: break-word;
}
abbr[title],
acronym[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
body {
  font-size: 13px;
  color: #555;
  line-height: 2;
}
body,
button,
input,
select,
textarea {
  outline: none;
  font-family: tahoma, Helvetica, Arial, "\5FAE\8F6F\96C5\9ED1";
  *font-family: "\5FAE\8F6F\96C5\9ED1";
}
h1 {
  font-size: 23px;
}
h2 {
  font-size: 21px;
}
h3 {
  font-size: 19px;
}
h4 {
  font-size: 17px;
}
h5 {
  font-size: 15px;
}
h6 {
  font-size: 13px;
}
hr {
  border: none;
  height: 1px;
  background: #d4d4d4;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.cf:before,
.cf:after,
.web:before,
.web:after,
.web_:before,
.web_:after {
  content: "";
  display: table;
}
.cf:after,
.web:after,
.web_:after {
  clear: both;
}
.cf {
  zoom: 1;
}
.block {
  display: block;
}
.none {
  display: none;
}
.clear {
  clear: both;
}
s {
  text-decoration: none;
}
.bg-black {
  color: #7793a7;
  background-color: #1c2b36;
}
.bg-black i {
  color: #fff;
}
.bg-info {
  background-color: #16aad8;
}
.bg-info a {
  color: #fff;
}
.bg-info > ul > li > a:hover,
.bg-info > ul > li > a:focus {
  background-color: #16ade5 !important;
}
.bg-danger {
  background-color: #F05050;
}
.bg-danger a {
  color: #fff;
}
.bg-danger > ul > li > a:hover,
.bg-danger > ul > li > a:focus {
  background-color: #e43f3a !important;
}
.bg-success {
  background-color: #27c24c;
}
.bg-success a {
  color: #fff;
}
.bg-success > ul > li > a:hover,
.bg-success > ul > li > a:focus {
  background-color: #27d85c !important;
}
.bg-white-only {
  background-color: #fff;
  color: #444;
}
.bg-white-only a {
  color: #000;
}
.bg-white-only {
  background-color: #fff;
  color: #444;
}
.bg-white-only a {
  color: #000;
}
/*����״̬*/
.order {
  border-radius: 3px;
  padding: 2px 3px;
  color: #fff;
}
.order_info {
  background-color: #5bc0de;
}
.order_success {
  background-color: #5cb85c;
}
.order_danger {
  background-color: #d9534f;
}
.order_warning {
  background-color: #f0ad4e;
}
/*导航*/
.navbar-header {
  width: 200px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.navbar-header button {
  padding: 10px 17px;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
}
.navbar-header a {
  color: #fff;
}
.collapse {
  margin-left: 200px;
}
.box-shadow {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
/*��Ϣ����������ʾ*/
.bg-danger {
  color: #fff;
  background-color: #f05050;
}
.badge.up {
  position: relative;
  top: -10px;
  padding: 3px 6px;
  margin-left: -10px;
}
.alreadyRead {
  text-decoration: blink;
  padding-left: 10px;
  cursor: pointer;
  color: #0000FF;
  text-decoration: underline;
}
/*加载动画*/
.loadingBar {
  position: fixed;
  width: 100%;
  top: 50px;
  right: 0;
  left: 0;
  height: 2px;
  display: none;
  background: #4197ff;
  -webkit-transform: translateX(-100%);
}
.loadingBar.is-active {
  display: block;
  -webkit-animation: loading 1s ease-in-out infinite;
  animation: loading 1s ease-in-out infinite;
}
@keyframes loading {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  40% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  60% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
/*页面布局*/
/*layout*/
html,
body {
  width: 100%;
  height: 100%;
}
body {
  overflow-x: hidden;
  overflow-y: auto;
}
.app {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.app .messageUl {
  max-height: 150px;
  overflow-y: auto;
}
.app-head-fixed {
  padding-top: 50px;
}
.header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
}
.aside {
  position: fixed;
  left: 0;
  top: 50px;
  width: 200px;
}
.mainView {
  padding: 10px 10px 10px 210px;
  height: auto;
  min-height: 100%;
}
.mainView .mainViewBody {
  width: 100%;
}
.text-active,
.active > .text {
  display: none !important;
}
.active .text-active,
.active .auto .text-active {
  display: inline-block !important;
}
.queryDIv {
  border: 1px solid #ccc;
}
.queryDIv .queryTitle {
  height: 35px;
  line-height: 35px;
  padding-left: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}
.queryDIv .queryBody {
  padding: 10px;
  position: relative;
  min-height: 50px;
}
.queryDIv .queryBody input {
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}
.searchGroup {
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.searchGroup input {
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 200px;
}
.searchGroup .search {
  color: #fff;
  margin-left: -5px;
  border-radius: 0 4px 4px 0;
}
.modal .searchGroup {
  top: 12px;
  left: 50%;
  transform: translateX(-50%);
}
.modal .searchGroup input {
  height: 30px;
  padding: 0 5px;
  width: 240px;
}
.selectCss {
  width: 150px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.redText {
  color: #f05050 !important;
  font-size: 12px;
}
@media (max-width: 767px) {
  .navbar-header {
    width: 100%;
  }
  .main-sidebar {
    width: 0;
    overflow: hidden;
  }
  .mainView {
    padding: 10px 0 0 0;
  }
  .aside {
    width: auto;
  }
}
/*登录*/
body {
  background-size: cover;
  background-attachment: fixed;
}
body .content {
  width: 100%;
  height: 100%;
  background: url("../../imgs/loginBg.jpg");
  border-radius: 4px;
  position: fixed;
  top: 0;
  /*������֤����ʽ*/
}
body .content .content-logo {
  width: 68px;
  height: 68px;
}
body .content body .content .content-title {
  margin: 10px 0 25px 0;
  font-size: 1.8em;
  color: #747474;
  font-weight: normal;
  height: 30px;
  border-radius: 7px;
}
body .content img {
  margin-top: 10px;
}
body .content h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
body .content #uname,
body .content #upwd {
  width: 65%;
  height: 40px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid  #cccbcb;
  border-radius: 4px;
  letter-spacing: 1px;
}
body .content #demo {
  width: 65%;
  border: 1px dashed #d5d4ff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: left;
  margin-bottom: 20px;
}
body .content #slider {
  margin: 0px auto;
  width: 100%;
  height: 40px;
  position: relative;
  border-radius: 2px;
  background-color: #dae2d0;
  overflow: hidden;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
body .content #slider_bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #7AC23C;
  z-index: 1;
}
body .content #label {
  width: 46px;
  position: absolute;
  left: 0;
  top: 0;
  height: 38px;
  line-height: 38px;
  border: 1px solid #cccccc;
  background: #fff;
  z-index: 3;
  cursor: move;
  color: black;
  font-size: 16px;
  font-weight: 900;
}
body .content #labelTip {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 13px;
  font-family: 'Microsoft Yahei', serif;
  color: #787878;
  line-height: 38px;
  text-align: center;
  z-index: 2;
}
@media (min-width: 768px) and (max-width: 1920px) {
  #loginstyle {
    border-radius: 7px;
    text-align: center;
    margin: 120px 0;
    overflow: auto;
    background-color: #E3E3E3;
    width: 500px;
    height: 370px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
  }
}
@media (max-width: 767px) {
  #loginstyle {
    border-radius: 7px;
    text-align: center;
    margin: 70px 0;
    overflow: auto;
    background-color: #E3E3E3;
    width: 340px;
    height: 100%;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
  }
}
/*采购*/
/*����*/
.title {
  height: 35px;
  line-height: 35px;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #ccc;
  padding: 0 10px;
  background-color: #1c2b36;
  color: #fff;
}
.redText {
  color: #f05050;
  font-size: 12px;
}
.errorTip {
  width: 80%;
  min-height: 18px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: #030303;
  opacity: .5;
  color: #fff;
  border-radius: 5px;
  z-index: 100;
}
.errorTip:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  top: -5px;
  left: 50%;
  background-color: #030303;
  transform: rotate(45deg);
  z-index: 99;
}
.selectLi {
  cursor: pointer;
}
.proposal-box {
  background-color: #fff;
  z-index: 100;
}
/*�ɹ����뵥*/
.purchaseReqOrder {
  border: 1px solid #ccc;
}
.purchaseReqOrder > .title {
  position: relative;
}
.purchaseReqOrder > .title span {
  position: absolute;
  font-size: 12px;
  top: 0;
  right: 10px;
}
.purchaseReqOrder .materialDiv {
  height: auto;
  margin: 10px;
}
.purchaseReqOrder .materialDiv .projectNumDiv {
  height: 29px;
}
.purchaseReqOrder .materialDiv > ul {
  width: 100%;
  overflow: hidden;
}
.purchaseReqOrder .materialDiv > ul > li {
  width: 11.111%;
  height: 30px;
  line-height: 30px;
  float: left;
  border: 1px solid #ccc;
  border-right: none;
}
.purchaseReqOrder .materialDiv > ul > li:last-child {
  border-right: 1px solid #ccc;
}
.purchaseReqOrder .materialDiv .materialListDiv {
  position: relative;
  margin-top: 5px;
}
.purchaseReqOrder .materialDiv .materialListDiv > div {
  width: 11.111%;
  padding: 0 2px;
  float: left;
  border: 1px solid #ccc;
  border-right: none;
  position: relative;
}
.purchaseReqOrder .materialDiv .materialListDiv > div:last-child {
  border-right: 1px solid #ccc;
}
.purchaseReqOrder .materialDiv .materialListDiv > div input {
  width: 100%;
  height: 26px;
  border: none;
  border-radius: 3px;
}
.purchaseReqOrder .materialDiv .materialListDiv .deleteMaterial {
  position: absolute;
  top: -4px;
  right: -4px;
  height: 14px;
  width: 14px;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
  color: #fff;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  z-index: 101;
}
.purchaseReqOrder .materialDiv .materialListDiv:hover > .deleteMaterial {
  display: block;
}
.purchaseReqOrder .materialDiv .addMaterialListDiv {
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px dashed #888;
  margin-top: 5px;
  cursor: pointer;
}
.modalLoading {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#chsseAddMaterialModal .modal-body {
  min-height: 50px;
  max-height: 300px;
  overflow: auto;
}
/*������*/
.checkPeopleDiv {
  height: 150px;
  border: 1px solid #ccc;
  margin-top: 10px;
}
.checkPeopleDiv .checkPeopleMain {
  height: 110px;
  overflow: hidden;
}
.checkPeopleDiv .checkPeopleMain > div {
  float: left;
}
.checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv {
  width: 110px;
  height: 110px;
  text-align: center;
  padding-top: 17px;
  position: relative;
}
.checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv {
  height: 50px;
  width: 50px;
  line-height: 45px;
  text-align: center;
  font-size: 22px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 30px;
}
.checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv > span {
  font-size: 14px;
}
.checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv > span.hideName {
  display: none;
}
.checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .editCheckPeople {
  position: absolute;
  top: 18px;
  right: 26px;
  display: none;
}
.checkPeopleDiv .checkPeopleMain .checkArrowDiv {
  height: 110px;
  line-height: 90px;
}
/*�ύ*/
.submitDiv {
  text-align: right;
  margin-top: 10px;
  padding-right: 25px;
}
.submitDiv span {
  display: inline-block;
  height: 34px;
  line-height: 34px;
}
@media (max-width: 767px) {
  .navbar-header {
    width: 100%;
  }
  .main-sidebar {
    width: 0;
    overflow: hidden;
  }
  .purchaseReqOrder {
    border: none;
  }
  .checkPeopleDiv {
    border: none;
    border-bottom: 1px solid #ccc;
  }
}
.purchaseReqSuccess {
  background-color: #51A351 !important;
}
.purchaseFailure {
  background-color: #f05050 !important;
}
.purchaseTrackBody {
  overflow: auto;
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
}
.purchaseTrackBody .loadingDiv {
  width: 160px;
  height: 100px;
  background-color: #fff;
  opacity: .6;
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
}
.purchaseTrackBody .loadingDiv .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.purchaseTrackBody .loadingDiv .loading img {
  width: 60px;
  height: 60px;
}
.purchaseTrackBody .loadingDiv .loading span {
  display: block;
  margin-top: 10px;
  color: #000;
}
.purchaseTrackBody .purchaseLine {
  width: 100%;
  position: relative;
  padding: 35px 0 55px 0;
}
.purchaseTrackBody .purchaseLine .purchaseLineOrder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5px;
  background-color: #f0ad4e;
  border-radius: 5px;
  color: #333;
}
.purchaseTrackBody .purchaseLine .canclePurchase {
  position: absolute;
  top: 2px;
  left: 215px;
  color: #333;
}
.purchaseTrackBody .purchaseLine .alreadyCancle {
  position: absolute;
  top: 0;
  left: 215px;
  background-color: #f05050;
  padding: 0 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}
.purchaseTrackBody .purchaseLine .purchaseLineUl {
  width: 100%;
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li {
  float: left;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  background-color: #aaa;
  font-size: 18px;
  color: #fff;
  margin: 0 50px;
  position: relative;
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li > .showReasonDiv {
  display: none;
  width: 130px;
  max-height: 60px;
  background-color: #fff;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  left: 70px;
  bottom: -8px;
  z-index: 100;
  padding: 5px;
  color: #444;
  line-height: 16px;
  font-size: 14px;
  word-wrap: break-word;
  text-align: left;
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li > span {
  width: 52px;
  height: 10px;
  position: absolute;
  background-color: #aaa;
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li > span.nextFlowSpan {
  top: 50%;
  right: -51px;
  transform: translateY(-50%);
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li > span.preFlowSpan {
  top: 50%;
  left: -51px;
  transform: translateY(-50%);
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li > span.purchaseResult {
  width: 160px;
  height: 20px;
  line-height: 20px;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-weight: normal;
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li > span.purchaseDatetime {
  width: 160px;
  height: 20px;
  line-height: 20px;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
  font-size: 14px;
  font-weight: normal;
}
.purchaseTrackBody .purchaseLine .purchaseLineUl li .reasonMsg {
  margin-left: 5px;
  cursor: pointer;
}
.purchaseTrackBody .splitLine {
  width: 100%;
  height: 0;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .purchaseTrackBody .purchaseLine {
    padding-bottom: 0;
  }
  .purchaseTrackBody .purchaseLine .purchaseLineUl li {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    margin: 0 30px 50px 30px;
  }
  .purchaseTrackBody .purchaseLine .purchaseLineUl li > span {
    width: 32px;
    height: 10px;
    position: absolute;
    background-color: #aaa;
  }
  .purchaseTrackBody .purchaseLine .purchaseLineUl li > span.nextFlowSpan {
    top: 50%;
    right: -31px;
    transform: translateY(-50%);
  }
  .purchaseTrackBody .purchaseLine .purchaseLineUl li > span.preFlowSpan {
    top: 50%;
    left: -31px;
    transform: translateY(-50%);
  }
  .purchaseTrackBody .purchaseLine .purchaseLineUl li > span.purchaseResult {
    width: 160px;
    height: 20px;
    line-height: 20px;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: normal;
  }
  .purchaseTrackBody .purchaseLine .purchaseLineUl li > span.purchaseDatetime {
    width: 160px;
    height: 20px;
    line-height: 20px;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: normal;
  }
  .queryBody {
    padding: 10px 5px !important;
  }
  .queryBody > input {
    width: 92px !important;
    padding: 0 !important;
  }
  .queryBody .placeholderOrderNum {
    width: 80px !important;
  }
  .queryBody .searchGroup {
    right: 5px !important;
  }
}
.purchaseHistoryBody {
  margin-top: 10px;
}
.purchaseHistoryBody table {
  text-align: center;
}
.purchaseHistoryBody table s {
  cursor: pointer;
  color: green;
}
.purchaseHistoryBody table s.red {
  color: #cd0a0a;
}
.purchaseCheckBody {
  margin-top: 10px;
}
.purchaseCheckBody table {
  text-align: center;
}
#purchaseCheckModal .modal-dialog,
#purchaseModal .modal-dialog {
  width: 1330px;
}
#purchaseCheckModal .modal-dialog .modal-body,
#purchaseModal .modal-dialog .modal-body {
  min-height: 300px;
}
#purchaseCheckModal .modal-dialog .tableDiv,
#purchaseModal .modal-dialog .tableDiv {
  max-height: 400px;
  min-height: 300px;
  overflow-y: auto;
}
#purchaseCheckModal .modal-dialog .tableDiv table,
#purchaseModal .modal-dialog .tableDiv table {
  text-align: center;
  /*      td{
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
      }*/
}
#purchaseCheckModal .modal-dialog .tableDiv table input,
#purchaseModal .modal-dialog .tableDiv table input {
  width: 100%;
  height: 100%;
  border: none;
}
#purchaseCheckModal .modal-dialog .tableDiv .rateSelect,
#purchaseModal .modal-dialog .tableDiv .rateSelect {
  width: 100%;
  border: none;
}
#purchaseCheckModal .modal-dialog .tableDiv .tableInfoDiv,
#purchaseModal .modal-dialog .tableDiv .tableInfoDiv {
  margin-bottom: 10px;
}
#purchaseCheckModal .modal-dialog .tableDiv .tableInfoDiv .tableInfoUl,
#purchaseModal .modal-dialog .tableDiv .tableInfoDiv .tableInfoUl {
  padding-left: 35px;
  overflow: hidden;
  display: flex;
}
#purchaseCheckModal .modal-dialog .tableDiv .tableInfoDiv .tableInfoUl > li,
#purchaseModal .modal-dialog .tableDiv .tableInfoDiv .tableInfoUl > li {
  float: left;
  flex: 1;
}
#purchaseCheckModal .modal-dialog .tableDiv .tableInfoDiv .tableInfoUl > li input,
#purchaseModal .modal-dialog .tableDiv .tableInfoDiv .tableInfoUl > li input {
  height: 26px;
  margin-top: -2px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
#purchaseCheckModal .modal-dialog .checkBody,
#purchaseModal .modal-dialog .checkBody {
  margin-top: 10px;
}
#purchaseCheckModal .modal-dialog .checkBody input,
#purchaseModal .modal-dialog .checkBody input {
  margin: 0;
}
#purchaseCheckModal .modal-dialog .checkBody .reasonDiv textarea,
#purchaseModal .modal-dialog .checkBody .reasonDiv textarea {
  padding: 5px;
  width: 100%;
}
#choseAssignModal .modal-body {
  padding: 0 15px;
}
#choseAssignModal .modal-body label input {
  margin-top: 8px;
}
.basicInfoManageBody .expand {
  cursor: pointer;
}
.basicInfoManageBody .panelMain {
  height: 0;
  overflow: hidden;
}
.basicInfoManageBody .panelMain.active {
  height: auto;
}
.basicInfoManageBody .panelMain .panel-body {
  padding: 10px;
}
.basicInfoManageBody .panelMain .panel-body .infoInput ul {
  overflow: hidden;
}
.basicInfoManageBody .panelMain .panel-body .infoInput ul > li {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.basicInfoManageBody .panelMain .panel-body .infoInput ul > li input {
  border: 1px solid #ccc;
  height: 28px;
  border-radius: 3px;
  padding: 0 5px;
}
.basicInfoManageBody .panelMain .panel-body .infoInput ul > li input.unit {
  width: 85px;
}
.basicInfoManageBody .panelMain .panel-body .infoInput ul > li input.descript {
  width: 350px;
}
.basicInfoManageBody .panelMain table {
  text-align: center;
}
/*库管*/
.mainView .queryDIv .queryBody .searchGroup .searchR {
  color: #fff;
  border-radius: 4px;
}
.mainView .depotRequestBody {
  margin-top: 10px;
  position: relative;
}
.mainView .depotRequestBody .handleDepotDiv {
  position: absolute;
  margin-left: 100px;
  top: 0;
}
#inputInfoModal .modal-dialog {
  width: 1330px;
  max-height: 550px;
}
#inputInfoModal .modal-dialog .inputInfoDiv {
  min-height: 50px;
}
#inputInfoModal .modal-dialog .inputInfoDiv .materialDiv {
  height: auto;
  margin: 10px;
}
#inputInfoModal .modal-dialog .inputInfoDiv .materialDiv > ul {
  width: 100%;
  overflow: hidden;
  display: flex;
}
#inputInfoModal .modal-dialog .inputInfoDiv .materialDiv > ul > li {
  flex: 1;
  height: 30px;
  line-height: 30px;
  float: left;
  text-align: center;
  border: 1px solid #ccc;
  border-right: none;
}
#inputInfoModal .modal-dialog .inputInfoDiv .materialDiv > ul > li:last-child {
  border-right: 1px solid #ccc;
}
#inputInfoModal .modal-dialog .inputInfoDiv .materialDiv .materialListDiv {
  position: relative;
  margin-top: 5px;
  display: flex;
}
#inputInfoModal .modal-dialog .inputInfoDiv .materialDiv .materialListDiv > div {
  flex: 1;
  padding: 0 2px;
  float: left;
  border: 1px solid #ccc;
  border-right: none;
  position: relative;
}
#inputInfoModal .modal-dialog .inputInfoDiv .materialDiv .materialListDiv > div:last-child {
  border-right: 1px solid #ccc;
}
#inputInfoModal .modal-dialog .inputInfoDiv .materialDiv .materialListDiv > div input {
  width: 100%;
  height: 26px;
  border: none;
}
#inputInfoModal .modal-dialog .inputInfoDiv .materialDiv .materialListDiv .deleteMaterial {
  position: absolute;
  top: -4px;
  right: -4px;
  height: 14px;
  width: 14px;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
  color: #fff;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  z-index: 101;
}
#inputInfoModal .modal-dialog .inputInfoDiv .materialDiv .materialListDiv:hover > .deleteMaterial {
  display: block;
}
#inputInfoModal .modal-dialog .inputInfoDiv .materialDiv .addMaterialListDiv {
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px dashed #888;
  margin-top: 5px;
  cursor: pointer;
}
#inputInfoModal .modal-dialog .modal-body {
  max-height: 488px;
  overflow-y: auto;
  padding: 5px 10px;
}
.depotInputBody {
  margin-top: 10px;
}
.depotInputBody .depotInputTableDiv {
  position: relative;
}
.depotInputBody .depotInputTableDiv table {
  text-align: center;
}
.depotInputBody .depotInputTableDiv table input[type="text"] {
  width: 100%;
  border: none;
}
.depotInputBody .depotInputTableDiv table .topCheckInput {
  margin-left: 10px;
}
.depotInputBody .depotInputTableDiv table s {
  cursor: pointer;
  color: green;
}
.depotInputBody .depotInputTableDiv table s.red {
  color: #cd0a0a;
}
.depotInputBody .depotInputTableDiv .handleDepotDiv {
  margin-left: 100px;
  position: absolute;
  top: 0;
}
.depotInputBody .depotInputTableDiv .handleDepotDiv button {
  font-weight: 700;
}
#depotInputTable table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#printModal .modal-dialog {
  width: 1330px;
}
#printModal .modal-dialog table {
  text-align: center;
}
#addSnNumModal .modal-dialog ul {
  overflow: hidden;
}
#addSnNumModal .modal-dialog ul .snLi {
  position: relative;
  width: 165px;
  float: left;
  margin: 0 15px 10px 0;
  padding: 5px 10px;
  color: #444;
  background-color: #dfdddd;
  border-color: #d6e9c6;
  border-radius: 3px;
}
#addSnNumModal .modal-dialog ul .snLi .deleteSnLi {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 12px;
}
#addSnNumModal .modal-dialog ul .addLi {
  width: 60px;
  text-align: center;
  cursor: pointer;
}
#addSnNumModal .modal-dialog ul .inputLi {
  display: none;
  float: left;
  width: 205px;
}
#addSnNumModal .modal-dialog ul .inputLi input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px 10px;
}
#addSnNumModal .modal-dialog ul .inputLi span {
  cursor: pointer;
  font-size: 16px;
}
#addSnNumModal .modal-dialog ul .inputLi .checkSpan {
  color: green;
}
#addSnNumModal .modal-dialog ul .inputLi .closeSpan {
  color: red;
}
#addSnNumModal .remainAddNum {
  font-size: 14px;
  font-weight: 600;
}
.depotOutputBody {
  margin-top: 10px;
}
.depotOutputBody .depotOutputTableDiv {
  position: relative;
}
.depotOutputBody .depotOutputTableDiv table {
  text-align: center;
}
.depotOutputBody .depotOutputTableDiv table input.number {
  width: 100%;
  border: none;
}
.depotOutputBody .depotOutputTableDiv table .topCheckInput {
  margin-left: 10px;
}
.depotOutputBody .depotOutputTableDiv table s {
  cursor: pointer;
  color: green;
}
.depotOutputBody .depotOutputTableDiv table s.red {
  color: #cd0a0a;
}
.depotOutputBody .depotOutputTableDiv .handleDepotDiv {
  margin-left: 100px;
  position: absolute;
  top: 0;
}
.depotOutputBody .depotOutputTableDiv .handleDepotDiv button {
  font-weight: 700;
}
#selectSnNumModal .snCheckbox {
  overflow: hidden;
}
#selectSnNumModal .snCheckbox label {
  float: left;
  margin: 5px 15px;
}
.borrowManageBody {
  margin-top: 5px;
}
.borrowManageBody #borrowManageTable {
  text-align: center;
}
.borrowManageBody .handleBorrowDiv {
  margin-left: 100px;
  position: absolute;
  top: 0;
}
#borrowModal .modal-body {
  min-height: 50px;
}
#borrowInfoModal .modal-body .borrowInfoUl,
#returnInfoModal .modal-body .borrowInfoUl {
  overflow: hidden;
}
#borrowInfoModal .modal-body .borrowInfoUl > li,
#returnInfoModal .modal-body .borrowInfoUl > li {
  float: left;
  width: 33.33%;
  font-size: 14px;
}
#borrowInfoModal .modal-body .borrowInfoUl > li .selectSn,
#returnInfoModal .modal-body .borrowInfoUl > li .selectSn {
  margin-bottom: 4px;
}
#borrowInfoModal .modal-body .borrowInfoUl > .dateLi,
#returnInfoModal .modal-body .borrowInfoUl > .dateLi {
  width: 50%;
}
#borrowInfoModal .modal-body .borrowInfoUl > .dateLi input,
#returnInfoModal .modal-body .borrowInfoUl > .dateLi input {
  height: 24px;
  width: 165px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 3px;
  margin-bottom: 4px;
}
#borrowInfoModal .modal-body .borrowInfoUl > .inputLi input,
#returnInfoModal .modal-body .borrowInfoUl > .inputLi input {
  margin-bottom: 4px;
  height: 24px;
  width: 112px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 3px;
}
/*系统管理*/
#modal-content-usermanage {
  width: 700px;
  left: 50%;
  top: 240px;
  transform: translate(-50%, -50%);
}
/*添加、修改、删除按钮*/
.buttonGrop {
  margin-left: 23px;
}
.buttonGrop button:not(:first-child) {
  margin-left: 10px;
}
.userTableDiv {
  height: 100%;
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
}
.userTableDiv .btnGroup {
  position: absolute;
  top: 10px;
  right: 30px;
}
.userTableDiv .btnGroup #queryUserInp {
  border-radius: 4px 0 0 4px;
  outline: none;
  border: 1px solid #ccc;
  width: 200px;
  padding-left: 5px;
}
.userTableDiv .btnGroup #userSearchButton {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
#userName,
#userPassword,
#userPhone,
#select,
#select1 {
  width: 145px;
  height: 28px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding-left: 5px;
}
/*用户列表样式*/
.searchGroupDiv {
  width: 100%;
}
.tableContent {
  height: 100%;
  padding-top: 5px;
}
.tableContent #userTable tr td:first-child {
  width: 60px;
}
.tableContent td {
  text-align: center;
}
.userTableQuery {
  margin-top: 10px;
}
@media (max-width: 767px) {
  #modal-content-usermanage {
    width: 175px ;
    position: absolute;
    left: 50%;
    top: 310px;
    transform: translate(-50%, -50%);
  }
}
/*我的*/
.infoMaintain {
  width: 100%;
  height: 100%;
}
.infoMaintain h1 {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.infoMaintain ul {
  margin-left: 60px;
  font-size: 20px;
}
.infoMaintain ul #phoneEditbtn {
  display: none;
  cursor: pointer;
}
.infoMaintain ul #phoneUpdateBtn {
  color: green;
  cursor: pointer;
  padding-left: 15px;
}
.infoMaintain ul #phoneSaveBtn {
  color: green;
  display: none;
  cursor: pointer;
}
.infoMaintain ul #phoneDisBtn {
  color: green;
  display: none;
  cursor: pointer;
}
.infoMaintain #pwdUpdateBtn {
  cursor: pointer;
  padding-left: 20px;
}
.infoMaintain #gitUl {
  float: left;
  margin-top: -120px;
  margin-left: 170px;
}
.infoMaintain #gitUl #phoneEditInput {
  height: 27px;
  width: 126px;
}
#updataForm #oldpwd,
#password,
#passwordAgain {
  width: 145px;
  height: 28px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding-left: 5px;
}
.pickGoodsBody .tableContentDiv {
  margin-top: 10px;
  position: relative;
}
.pickGoodsBody .tableContentDiv span.viewPickPurchaseOrder {
  cursor: pointer;
}
.pickGoodsBody .addPickPurchaseDiv {
  margin-left: 100px;
  position: absolute;
  top: 0;
}
.pickGoodsBody .addPickPurchaseDiv button {
  font-weight: 700;
}
#addPickGooodsPurchaseModal .modal-dialog,
#viewPickPurchaseModal .modal-dialog {
  width: 1200px;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body,
#viewPickPurchaseModal .modal-dialog .modal-body {
  width: 100%;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .tableDiv table,
#viewPickPurchaseModal .modal-dialog .modal-body .tableDiv table {
  text-align: center;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .tableDiv table s,
#viewPickPurchaseModal .modal-dialog .modal-body .tableDiv table s {
  cursor: pointer;
  color: green;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .tableDiv table s.red,
#viewPickPurchaseModal .modal-dialog .modal-body .tableDiv table s.red {
  color: #cd0a0a;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .tableDiv table input[type="number"],
#viewPickPurchaseModal .modal-dialog .modal-body .tableDiv table input[type="number"] {
  width: 100%;
  border: none;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .tableDiv .dataTables_scrollHeadInner,
#viewPickPurchaseModal .modal-dialog .modal-body .tableDiv .dataTables_scrollHeadInner {
  width: 100% !important;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .tableDiv .dataTables_scrollHeadInner > table,
#viewPickPurchaseModal .modal-dialog .modal-body .tableDiv .dataTables_scrollHeadInner > table {
  width: 100% !important;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .tableDiv .dataTables_scrollBody,
#viewPickPurchaseModal .modal-dialog .modal-body .tableDiv .dataTables_scrollBody {
  border-bottom: none;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body h4,
#viewPickPurchaseModal .modal-dialog .modal-body h4 {
  padding: 0 0 5px 20px;
  font-size: 14px;
  font-weight: 700;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .splitLine,
#viewPickPurchaseModal .modal-dialog .modal-body .splitLine {
  width: 100%;
  height: 0;
  border-bottom: 1px dashed #ccc;
  margin: 10px 0;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv {
  min-height: 50px;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv {
  height: auto;
  margin: 10px;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv > ul,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv > ul {
  width: 100%;
  overflow: hidden;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv > ul > li,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv > ul > li {
  width: 12.5%;
  height: 30px;
  line-height: 30px;
  float: left;
  text-align: center;
  border: 1px solid #ccc;
  border-right: none;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv > ul > li:last-child,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv > ul > li:last-child {
  border-right: 1px solid #ccc;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv {
  position: relative;
  margin-top: 5px;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv > div,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv > div {
  width: 12.5%;
  padding: 0 2px;
  float: left;
  border: 1px solid #ccc;
  border-right: none;
  position: relative;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv > div:last-child,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv > div:last-child {
  border-right: 1px solid #ccc;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv > div input,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv > div input {
  width: 100%;
  height: 26px;
  border: none;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv .deleteMaterial,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv .deleteMaterial {
  position: absolute;
  top: -4px;
  right: -4px;
  height: 14px;
  width: 14px;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
  color: #fff;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  z-index: 101;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv:hover > .deleteMaterial,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .materialListDiv:hover > .deleteMaterial {
  display: block;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .addMaterialListDiv,
#viewPickPurchaseModal .modal-dialog .modal-body .addNotPurchaseGoodsDiv .materialDiv .addMaterialListDiv {
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px dashed #888;
  margin-top: 5px;
  cursor: pointer;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv,
#viewPickPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv {
  border: none;
  height: 70px;
  margin: 0;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain,
#viewPickPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain {
  height: 80px;
  overflow: hidden;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain > div,
#viewPickPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain > div {
  float: left;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv,
#viewPickPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv {
  width: 110px;
  height: 70px;
  text-align: center;
  position: relative;
  padding-top: 5px;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv,
#viewPickPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv {
  height: 50px;
  width: 50px;
  line-height: 45px;
  text-align: center;
  font-size: 22px;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 30px;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv > span,
#viewPickPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv > span {
  font-size: 14px;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv > span.hideName,
#viewPickPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .addCircleDiv > span.hideName {
  display: none;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .editCheckPeople,
#viewPickPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .addCheckPeopleDiv .editCheckPeople {
  position: absolute;
  top: 8px;
  right: 26px;
  display: none;
}
#addPickGooodsPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .checkArrowDiv,
#viewPickPurchaseModal .modal-dialog .modal-body .choseCheckPeopleDiv .checkPeopleDiv .checkPeopleMain .checkArrowDiv {
  height: 70px;
  line-height: 70px;
}
#addPickGooodsPurchaseModal .modal-dialog .topCheckInput,
#viewPickPurchaseModal .modal-dialog .topCheckInput {
  margin-left: 10px;
}
.checkBody {
  margin-top: 10px;
}
.checkBody input {
  margin: 0;
}
.checkBody .reasonDiv textarea {
  width: 100%;
}
