.depotInputBody{
  margin-top: 10px;
  .depotInputTableDiv{
    position: relative;
    table{
      text-align: center;
      input[type="text"]{
        width: 100%;
        border: none;
      }
      .topCheckInput{
        margin-left: 10px;
      }
      s {
        cursor: pointer;
        color: green;
        &.red {
          color: #cd0a0a;
        }
      }
    }
    .handleDepotDiv{
      margin-left: 100px;
      position: absolute;
      top: 0;
      button{
        font-weight: 700;
      }
    }
  }
}

#printModal .modal-dialog{
  width: 1330px;
  table{
    text-align: center;
  }
}