#modal-content-usermanage {
  width: 700px;
  left: 50%;
  top: 240px;
  transform: translate(-50%, -50%);
}
/*添加、修改、删除按钮*/
.buttonGrop {
  position: absolute;
  left: 350px;
}
.buttonGrop button:not(:first-child) {
  margin-left: 10px;
}
.userTableDiv {
  height: 100%;
  width: 100%;
  padding: 0 20px;
  overflow: hidden;
}
.userTableDiv .btnGroup {
  position: absolute;
  top: 10px;
  right: 30px;
}
.userTableDiv .btnGroup #queryUserInp {
  border-radius: 4px 0 0 4px;
  outline: none;
  border: 1px solid #ccc;
  width: 120px;
}
.userTableDiv .btnGroup #userSearchButton {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
#userName,
#userPassword,
#userPhone,
#select,
#select1 {
  width: 145px;
  height: 28px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
/*用户列表样式*/
.searchGroupDiv {
  width: 100%;
}
.tableContent {
  height: 100%;
  padding-top: 5px;
}
.tableContent #userTable tr td:first-child {
  width: 60px;
}
.tableContent td {
  text-align: center;
}
.userTableQuery {
  margin-top: 10px;
}
@media (max-width: 767px) {
  #modal-content-usermanage {
    width: 175px ;
    position: absolute;
    left: 50%;
    top: 310px;
    transform: translate(-50%, -50%);
  }
}
