.basicInfoManageBody .expand {
  cursor: pointer;
}
.basicInfoManageBody .panelMain {
  height: 0;
  overflow: hidden;
}
.basicInfoManageBody .panelMain.active {
  height: auto;
}
.basicInfoManageBody .panelMain .panel-body {
  padding: 10px;
}
.basicInfoManageBody .panelMain .panel-body .infoInput ul > li {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.basicInfoManageBody .panelMain .panel-body .infoInput ul > li input {
  border: 1px solid #ccc;
  height: 28px;
  border-radius: 3px;
  padding: 0 5px;
}
.basicInfoManageBody .panelMain .panel-body .infoInput ul > li input.unit {
  width: 85px;
}
.basicInfoManageBody .panelMain .panel-body .infoInput ul > li input.descript {
  width: 350px;
}
.basicInfoManageBody .panelMain table {
  text-align: center;
}
