.purchaseHistoryBody {
  margin-top: 10px;
}
.purchaseHistoryBody table {
  text-align: center;
}
.purchaseHistoryBody table s {
  cursor: pointer;
  color: green;
}
.purchaseHistoryBody table s.red {
  color: #cd0a0a;
}
