.purchaseReqOrder{
  height: 850px;
}
// sm
@media (min-width: 768px) and (max-width: 991px) {
}
// xs
@media (max-width: 767px) {
  .navbar-header {
    width: 100%;
  }
  .main-sidebar{
    width: 0;
    overflow: hidden;
  }
}