.depotInputBody {
  margin-top: 10px;
}
.depotInputBody .depotInputTableDiv {
  position: relative;
}
.depotInputBody .depotInputTableDiv table {
  text-align: center;
  top: 0;
}
.depotInputBody .depotInputTableDiv table input[type="text"] {
  width: 100%;
  border: none;
}
.depotInputBody .depotInputTableDiv table button {
  font-weight: 700;
}
