<div ng-controller="borrowManageController" class="app">
    <div class="mainView">
        <div class="queryDIv">
            <div class="queryTitle bg-black">条件查询</div>
            <div class="queryBody">
                <input type="date" placeholder="开始日期" class="startDate"/>至<input type="date" placeholder="结束日期" class="endDate"/>
                <select class="selectCss">
                    <option value="all" aria-checked="true">全部</option>
                    <option value="0">已借</option>
                    <option value="1">已还</option>
                </select>
                <div class="searchGroup">
                    <input type="text" placeholder="借用/归还人" class="placeholderOrderNum"/>
                    <a href="javascript:;" class="btn btn-primary btn-sm search"><i class="fa fa-search"></i>搜索</a>
                </div>
            </div>
        </div>
        <div class="borrowManageBody">
            <div class="borrowManageTableDiv" id="borrowManageTableDiv">
                <table id="borrowManageTable" class="display table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <td>物料编码</td>
                        <td>名称</td>
                        <td>型号</td>
                        <td>sn号</td>
                        <td>数量</td>
                        <td>借用时间</td>
                        <td>预计归还时间</td>
                        <td>实际归还时间</td>
                        <td>借用人</td>
                        <td>状态</td>
                        <td>操作</td>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div ng-include="'tpl/blocks/aside.html'" class="aside"></div>
    <div ng-include="'tpl/blocks/header.html'" class="header"></div>
    <div ng-include="'tpl/blocks/footer.html'"></div>
    <!--选择sn号模态框-->
    <div class="modal fade" id="borrowModal" tabindex="-1" role="dialog" aria-labelledby="borrowModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="borrowModalLabel">新增借用</h5>
                    <div class="searchGroup">
                        <input type="text" placeholder="物料名称" id="queryInput"/>
                        <a href="javascript:;" class="btn btn-primary btn-sm search" ng-click="searchMaterial()"><i class="fa fa-search"></i></a>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modalLoading">
                        <img src="./imgs/loading.gif" alt="" width="40"/>
                    </div>
                    <ul class="selectCheckUl">
                        <li class="selectLi" ng-click="selectMaterial($event)">
                            【<span class="selectName">DN001</span>】 电脑--thinkPad--智行者制造
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--填写借用信息模态框-->
    <div class="modal fade" id="borrowInfoModal" tabindex="-1" role="dialog" aria-labelledby="borrowInfoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="borrowInfoModalLabel">填写借用信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="borrowInfoUl">
                        <input type="hidden" id="borrow_material_id"/>
                        <li>物料编码：<span class="material_code">--</span></li>
                        <li>名称：<span class="material_name">--</span></li>
                        <li>型号：<span class="model">--</span></li>
                        <li class="inputLi">数量：<input type="number" class="number borrow_number" min="1" value="1" valType msg="数量不能为空"/></li>
                        <li>sn号：<span class="btn btn-default btn-xs selectSn" selectedStr="">选择</span></li>
                        <li class="inputLi">借用人：<input type="text" class="borrowPeople" id="borrowPeople" valType msg="借用人不能为空"/></li>
                        <li class="dateLi">借用日期：<input type="date" class="borrowDate" id="borrowDate" valType msg="借用日期不能为空"/></li>
                        <li class="dateLi">预计归还日期：<input type="date" class="planReturnDate" id="planReturnDate" valType msg="预计归还日期不能为空"/></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="borrowOk()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!--归还物料信息模态框-->
    <div class="modal fade" id="returnInfoModal" tabindex="-1" role="dialog" aria-labelledby="returnInfoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="returnInfoModalLabel">物料归还</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="borrowInfoUl">
                        <input type="hidden" id="return_material_id"/>
                        <li>物料编码：<span class="material_code">--</span></li>
                        <li>名称：<span class="material_name">--</span></li>
                        <li>型号：<span class="model">--</span></li>
                        <li>数量：<span class="number">--</span></li>
                        <li>sn号：<!--<span class="btn btn-default btn-xs selectSn">查看</span>--><span class="sn_num">--</span></li>
                        <li class="inputLi">借用人：<span class="borrowPeople">--</span></li>
                        <li class="dateLi">借用日期：<span class="borrowDate">--</span></li>
                        <li class="dateLi">预计归还日期：<span class="planReturnDate">--</span></li>
                        <li class="dateLi">归还日期：<input type="date" class="returnDate" valType msg="归还日期不能为空"/></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="returnOk()">确定</button>
                </div>
            </div>
        </div>
    </div>

    <!--选择sn号模态框-->
    <div class="modal fade" id="selectSnNumModal" tabindex="-1" role="dialog" aria-labelledby="selectSnNumModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="selectSnNumModalLabel">选择sn号</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="snCheckbox">
                        <label><input type="checkbox"/> <span>dn001</span></label>
                        <label><input type="checkbox"/> <span>dn001</span></label>
                        <label><input type="checkbox"/> <span>dn001</span></label>
                        <label><input type="checkbox"/> <span>dn001</span></label>
                        <label><input type="checkbox"/> <span>dn001</span></label>
                        <label><input type="checkbox"/> <span>dn001</span></label>
                        <label><input type="checkbox"/> <span>dn001</span></label>
                        <label><input type="checkbox"/> <span>dn001</span></label>
                        <label><input type="checkbox"/> <span>dn001</span></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="selectOk()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>