<div ng-controller="returnGoodsCheckController" class="app">
    <div class="mainView">
        <div class="queryDIv">
            <div class="queryTitle bg-black">条件查询</div>
            <div class="queryBody">
                <input type="date" placeholder="开始日期" class="startDate"/>至<input type="date" placeholder="结束日期" class="endDate"/>
                <select class="selectCss">
                    <option value="all" aria-checked="true">全部</option>
                    <option value="0">待退料</option>
                    <option value="1">已退料</option>
                </select>
                <div class="searchGroup">
                    <input type="text" placeholder="采购订单编号/申请人" class="placeholderOrderNum"/>
                    <a href="javascript:;" class="btn btn-primary btn-sm search"><i class="fa fa-search"></i>搜索</a>
                </div>
            </div>
        </div>
        <div class="depotOutputBody">
            <div class="depotOutputTableDiv" id="depotOutputTableDiv">
                <!--<div class="handleDepotDiv">
                    <button class="btn btn-primary btn-sm" ng-click="commitReturnGoods()">完成退料</button>
                </div>-->
                <table id="returnGoodsCheckTable" class="display table-striped table-bordered table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <td></td>
                        <td>退料申请编号</td>
                        <td>申请人</td>
                        <td>状态</td>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div ng-include="'tpl/blocks/aside.html'" class="aside"></div>
    <div ng-include="'tpl/blocks/header.html'" class="header"></div>
    <div ng-include="'tpl/blocks/footer.html'"></div>
    <!--选择sn号模态框-->
    <div class="modal fade" id="selectSnNumModal" tabindex="-1" role="dialog" aria-labelledby="selectSnNumModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <input type="hidden" id="material_code"/>
                    <input type="hidden" id="selectMaxNum"/>
                    <input type="hidden" id="materialNum"/>
                    <h5 class="modal-title" id="selectSnNumModalLabel">选择sn号</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="snCheckbox">
                        <label><input type="checkbox"/> <span>dn001</span></label>
                        <label><input type="checkbox"/> <span>dn001</span></label>
                        <label><input type="checkbox"/> <span>dn001</span></label>
                        <label><input type="checkbox"/> <span>dn001</span></label>
                        <label><input type="checkbox"/> <span>dn001</span></label>
                        <label><input type="checkbox"/> <span>dn001</span></label>
                        <label><input type="checkbox"/> <span>dn001</span></label>
                        <label><input type="checkbox"/> <span>dn001</span></label>
                        <label><input type="checkbox"/> <span>dn001</span></label>
                    </div>

                </div>
                <div class="modal-footer">
                    <span class="pull-left">还可选择<s class="redText remainSelectNum">8</s>条sn号</span>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" ng-click="selectSnNumOk()">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>