<div ng-controller="userManageController" class="app">
    <div ng-include="'tpl/blocks/header.html'" class="header"></div>
    <div ng-include="'tpl/blocks/aside.html'" class="aside"></div>
    <div  class="mainView">
        <div>
            <div >
                <!-- 按钮触发模态框 -->
                <div class="buttonGrop" >
                <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal" ng-click="modelTitle='添加用户'">
                    <i class="fa fa-plus"></i> 添加
                </button>
                <button ng-show="isUpdateShow" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal" ng-click="modelTitle='修改用户信息'" id="updateBtn" >
                    <i class="fa fa-pencil-square-o"></i> 修改
                </button>
                <button ng-show="isDeleteShow" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete"  id="deleteBtn" >
                    <i class="fa fa-times"></i> 删除
                </button>
                </div>

                <!-- 修改与添加，模态框（Modal） -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" id="modal-content-usermanage">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">  {{modelTitle}}</h4>
                                <button  type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" >
                                <h5>基本信息</h5><br/>
                                姓&nbsp名：<input type="text" id="userName" ng-model="userInfo.userName"/>
                                密&nbsp码：<input type="text" ng-model="userInfo.password"/>
                                联系电话：<input type="text"  ng-model="userInfo.phone"/><br/><br/>
                                职&nbsp员：
                                <select ng-model="userInfo.access" ng-init="access='system_permissions'">
                                    <option value="1">admin
                                    <option value="2">总经理
                                    <option value="3">部长
                                    <option value="4">库管
                                    <option value="5">采购
                                    <option value="6">室组经理
                                    <option value="7">员工
                                </select>
                                组&nbsp&nbsp&nbsp&nbsp：
                                <select ng-model="userInfo.department" ng-init="department='no'">
                                <option value="无">无
                                <option value="软件组">软件组
                                <option value="硬件组">硬件组
                                <option value="技术研发部">技术研发部
                            </select>
                                <hr/>
                                <h5>数据权限</h5><br/>
                                   <label class="checkbox-inline">
                                       <input type="checkbox" id="inlineCheckbox1" value="option1"  ng-checked="userInfo.data_permissions.contract_number == 'true'" ng-model="userInfo.contract_number"> 合同号
                                   </label>
                                   <label class="checkbox-inline">
                                       <input type="checkbox" id="inlineCheckbox2" value="option2"  ng-checked="userInfo.data_permissions.unit_price== 'true'" ng-model="userInfo.unit_price"> 单价
                                   </label>
                                   <label class="checkbox-inline">
                                       <input type="checkbox" id="inlineCheckbox3" value="option3"  ng-checked="userInfo.data_permissions.inventory_quantity== 'true'" ng-model="userInfo.inventory_quantity"> 库存数量
                                   </label>
                                   <label class="checkbox-inline">
                                       <input type="checkbox" id="inlineCheckbox4" value="option4"  ng-checked="userInfo.data_permissions.money== 'true'" ng-model="userInfo.money"> 金额
                                   </label>
                                   <label class="checkbox-inline">
                                       <input type="checkbox" id="inlineCheckbox5" value="option5"  ng-checked="userInfo.data_permissions.tax_rate== 'true'" ng-model="userInfo.tax_rate"> 税率
                                   </label>
                                   <label class="checkbox-inline">
                                       <input type="checkbox" id="inlineCheckbox6" value="option6"  ng-checked="userInfo.data_permissions.invoice== 'true'" ng-model="userInfo.invoice"> 发票
                                   </label>
                                   <label class="checkbox-inline">
                                       <input type="checkbox" id="inlineCheckbox7" value="option7"  ng-checked="userInfo.data_permissions.inventory_position== 'true'" ng-model="userInfo.inventory_position"> 库存位置
                                   </label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" ng-click="okAddAndUpdata()" data-dismiss="modal">确定</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <!--删除，模态框-->

                <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">删除用户</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                确定删除用户？
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="deleteStu()" id="okdeleteBtn">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 用户列表-->
            <div class="userTableDiv pr" ng-model="userTableDiv">
                <div class="row-fluid searchGroupDiv pa">
            <div class="btnGroup">
                <div class="input-group">
                    <input type="text" placeholder="用户名/联系电话" class="fuzzySearchInp" id="queryUserInp">
                    <button type="button" id="userSearchButton" class="btn btn-sm btn-primary" ng-click="searchUser()"><i class="fa fa-search"></i>搜索
                    </button>
                </div>
            </div>
            <div class="tableContent" >
                <table id="userTable" class="display table-striped table-bordered table-hover table-condensed" cellspacing="0" width="100%">
                    <tr >
                        <td><input type="checkbox" ng-model="selectAll" id="ck_all" ></td>
                        <td>序号</td>
                        <td class="userName">用户名</td>
                        <td >密码</td>
                        <td >电话</td>
                        <td >组</td>
                    </tr>
                    <tr ng-repeat="user in usersList">
                        <td><input type="checkbox" ng-checked="selectAll"  ng-click="isSelected()" access="{{user.access}}" data_permissions="{{user.data_permissions}}"></td>
                        <td>{{$index+1}}</td>
                        <td class="userName">{{user.userName}}</td>
                        <td >{{user.password}}</td>
                        <td >{{user.phone}}</td>
                        <td >{{user.department}}</td>
                    </tr>
                </table>
            </div>
           </div>
         </div>
        </div>
    </div>
    <div ng-include="'tpl/blocks/footer.html'"></div>
</div>